<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url | split: '?' | first }}" rel="preload" as="style">
{% assign foot_video_url = 'https://cdn.shopify.com/s/files/1/0556/4203/0246/files/How_to_install_Govee_Lyra_floor_lamp_H6072-1.mp4?v=1623328521' %}
<section class="faq_wrap">
  <div class="slogan_text">FAQ</div>
  <div class="question_wrap">
    <div class="question_item active item-0" data-index="0">
      <div class="question_text">Connection</div>
      <div class="question_bar"></div>
    </div>
    <div class="question_item item-1" data-index="1">
      <div class="question_text">Light effect</div>
      <div class="question_bar"></div>
    </div>
    <div class="question_item item-2" data-index="2">
      <div class="question_text">Installation</div>
      <div class="question_bar"></div>
    </div>
    <div class="question_item item-3" data-index="3">
      <div class="question_text">Specification</div>
      <div class="question_bar"></div>
    </div>
  </div>
  <div class="swiper-container alluring-faq-content" id="alluring-faq-content">
    <div class="swiper-wrapper stop-swiping">
      <div class="swiper-slide">
        <div class="faq_item">
          <div class="faq_text">
            · Is Lyra compatible with Alexa or Google Assistant?
          </div>
          <div class="faq_sub_text">
            Yes, this smart Lyra floor lamp is compatible with the Govee Home app, Alexa,  and Google assistants(not included). You can voice control the floor lamp.
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · Does this floor lamp come with a remote controller?
          </div>
          <div class="faq_sub_text">
            Yes, this Lyra floor lamp comes with a remote.<br>
            Here are the 5 basic functions with the remote,<br>
            1)On/Off;2)Brightness;3)Color variation;4)Music mode;5)Cool/ Warm white
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · Can I control it remotely?
          </div>
          <div class="faq_sub_text">
            Yes, this smart floor lamp supports WiFi connection. Even when you are not at home, just keep this device connected to your home wifi, you can still control it remotely.
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · Can this sync up with the light strips?
          </div>
          <div class="faq_sub_text">
            Yes, our Govee Home app supports Smarts (group control) with 3 functions: 1)On and Off; 2) Color mode; 3)Brightness.
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · Does the lamp have a USB power cord or is it a specfic plug?
          </div>
          <div class="faq_sub_text">
            The Lyra floor lamp comes with a US plug adapter and does not support USB port.
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="faq_item">
          <div class="faq_text">
            · Can this show multicolors simultaneously?
          </div>
          <div class="faq_sub_text">
            Yes, this is an RGBICWW floor lamp that supports multicolors in a line with gradient transition. Plus, you can choose one of 25 Scene Mode or DIY Mode through the Govee Home app.
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · What is the range of this color temperature?
          </div>
          <div class="faq_sub_text">
            This lamp can instantly transform your room with a 2200K-6500K color temperature for reading, relaxing, and more.
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · Does this floor lamp support music mode?
          </div>
          <div class="faq_sub_text">
            Yes, the Lyra floor lamp supports 6 different music effects, you can choose the one you desire. 
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="faq_item">
          <div class="faq_text">
            · How to install this floor lamp, do you have a quick installation guide?
          </div>
          <div class="faq_sub_text">
            Yes, besides the quick guide attached in the product package, we also have an installation guide video for your reference, please take a look. 
          </div>
        </div>
        <section class="banner" data-animate_images="true">
          <video 
            style="object-fit: fill;width: 100%;"
            preload="metadata"
            controls
            muted
            x5-video-player-type="h5"
            webkit-playsinline
            type="webm"
            playsinline
            data-src="{{ foot_video_url }}"
            class="lazyload"
            src="{{ foot_video_url }}"></video>
        </section>
      </div>
      <div class="swiper-slide">
        <div class="faq_item">
          <div class="faq_text">
            · How long is the power cord? 
          </div>
          <div class="faq_sub_text">
            The cable length from the plug adapter to the connection box is about 5.9ft, and the cable length from the connection box to the lamp about 1.64ft.
          </div>
        </div>
        <div class="faq_item">
          <div class="faq_text">
            · What is the height of this floor lamp?
          </div>
          <div class="faq_sub_text">
            This Lyra floor lamp is at 4.75ft in height.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  @media screen and (min-width: 599px) {
    .faq_wrap {
      padding: 4vw 0 5vw;
      background: #000;
    }
    .faq_wrap .slogan_text {
      font-size: 2.3vw;
      line-height: 3.2vw;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .question_wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 2vw;
    }
    .question_bar {
      width: 12.4vw;
      height: 5px;
      background: #fff;
    }
    .question_text {
      font-size: 1.3vw;
      line-height: 1.8vw;
      margin-bottom: .8vw;
      text-align: center;
    }
    .question_item:hover {
      cursor: pointer;
    }
    .question_item.active .question_bar {
      background: #17A2E4;
    }
  
    #alluring-faq-content {
      width: 49.6vw;
    }
    .faq_item {
      margin-bottom: 2vw;
    }
    .faq_text {
      font-size: .9vw;
      line-height: 1.1vw;
      margin-bottom: .2vw;
    }
    .faq_sub_text {
      font-size: .8vw;
      line-height: 1.1vw;
      margin-bottom: .2vw;
    }
    
  }

  @media screen and (max-width: 598px) {
    .faq_wrap {
      padding: 40px 30px;
      background: #000;
    }
    .faq_wrap .slogan_text {
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .question_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      border-bottom: 1px solid #888;
    }
    .question_item {
      border-radius: 30px;
      background: #fff;
      color: #17A2E4;
      padding: 10px 30px;
      margin-bottom: 20px;
      width: 142px;
    }
    .question_bar {
      display: none;
    }
    .question_text {
      font-size: 14px;
      text-align: center;
    }
    .question_item:hover {
      cursor: pointer;
    }
    .question_item.active {
      background: #17A2E4;
      color: #fff;
    }
  
    #alluring-faq-content {
      width: 100%;
    }
    .faq_item {
      margin-bottom: 10px;
    }
    .faq_text {
      font-size: 13px;
      line-height: 14px;
      margin-bottom: 4px;
    }
    .faq_sub_text {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 4px;
    }
    
  }
</style>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
  var faq_swiper = new Swiper('#alluring-faq-content', {
    slidesPerView: '1',
    noSwiping : true,
    noSwipingClass : 'stop-swiping',
    effect : 'fade',
    fadeEffect: {
      crossFade: true,
    },
    on: {
      slideChange: function() {
        $('.question_item').removeClass('active');
        $(`.question_item.item-${this.activeIndex}`).addClass('active');
      }
    }
  });
  function setFaqBarColor(target) {
    $('.question_item').each((index, item)=> {
      $(item).removeClass('active')
      if ($(item).data('index') === target) {
        $(item).addClass('active')
      }
    })
  }
  $('.question_item').on('click',function () {
    let index = $(this).data('index');
    faq_swiper.slideTo(index, 500, setFaqBarColor(index))
  })

</script>