<div class="background_wrap">
  <div class="page-width">
    <section class="reviews_wrap swiper-container">
      <div class="slogan_text lazyload" data-animate_text="true" style="margin-bottom: 50px;">User Reviews</div>
      <div class="reviews_list swiper-wrapper">
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/1_2x_9a79f244-ea74-47ec-b5a2-4780ac927a74.png?v=1622713714" alt="" class="lazyload">
                <span class="author_text">A</span>
              </div>
              <div class="author_info">
                <div class="author_from first">Awesome sauce</div>
                <div class="author_star">
                  <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/58_2x_98e2abf5-ac37-40ac-933e-a6ef4cb06fce.png?v=1622713714" alt="" class="lazyload">
                </div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                This has been my favorite product from you guys. It’s <span class="high_light">very bright</span>  and I love how you have <span class="high_light">very cool scenes</span> already preset.It has met and exceeded my expectations.
              </div>
            </div>
          </div>
        </div>
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/1_2x_9a79f244-ea74-47ec-b5a2-4780ac927a74.png?v=1622713714" alt="" class="lazyload">
                <span class="author_text">M</span>
              </div>
              <div class="author_info">
                <div class="author_from first">Michaelw2049</div>
                <div class="author_star">
                  <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/58_2x_98e2abf5-ac37-40ac-933e-a6ef4cb06fce.png?v=1622713714" alt="" class="lazyload">
                </div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                This model is excellent! As a college student, I plan to take this to college with me and use in my dorms! I have google voice and it is so responsive when I ask it do something to the floor lamp! The <span class="high_light">design is perfect</span> and it <span class="high_light">lights up my whole room</span> when all the way bright (and my room is pretty big! 
              </div>
            </div>
          </div>
        </div>
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/1_2x_9a79f244-ea74-47ec-b5a2-4780ac927a74.png?v=1622713714" alt="" class="lazyload">
                <span class="author_text">B</span>
              </div>
              <div class="author_info">
                <div class="author_from first">Benjamin Luong</div>
                <div class="author_star">
                  <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/58_2x_98e2abf5-ac37-40ac-933e-a6ef4cb06fce.png?v=1622713714" alt="" class="lazyload">
                </div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                I really enjoyed the lamp. The Govee app makes it really <span class="high_light">easy and fun to customize</span> the Lyra. Works perfectly with my Dreamcolor strips. The <span class="high_light">brightness levels are amazing</span>, the diy modes are great, and color accuracy is fantastic. The movement of the color effects is really smooth and satisfying to look at. It compliments my gaming setup very nicely.
              </div>
            </div>
          </div>
        </div>

        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/1_2x_9a79f244-ea74-47ec-b5a2-4780ac927a74.png?v=1622713714" alt="" class="lazyload">
                <span class="author_text">G</span>
              </div>
              <div class="author_info">
                <div class="author_from first">GoHawks</div>
                <div class="author_star">
                  <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/58_2x_98e2abf5-ac37-40ac-933e-a6ef4cb06fce.png?v=1622713714" alt="" class="lazyload">
                </div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                Beyond the 2 lights being out this is easily my favorite product of Govees. It's been a pleasure testing this out. It's also <span class="high_light">very versatile. Bright enough </span> to be a room's main lamp, and dim enough to be a night light.
              </div>
            </div>
          </div>
        </div>
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/1_2x_9a79f244-ea74-47ec-b5a2-4780ac927a74.png?v=1622713714" alt="" class="lazyload">
                <span class="author_text">B</span>
              </div>
              <div class="author_info">
                <div class="author_from first">blue•pink</div>
                <div class="author_star">
                  <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/58_2x_98e2abf5-ac37-40ac-933e-a6ef4cb06fce.png?v=1622713714" alt="" class="lazyload">
                </div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                a great addition to a living area with limited space! If there were less screws or if the lamp “clicked” together rather than screwing together with small screws, assembly could be faster and easier. Once assembled, however, the lamp is <span class="high_light">solid </span>and should not need to be taken apart to move. <span class="high_light">Including a screwdriver was a nice surprise</span>! 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </section> 
  </div>
</div>

<style>
  @media screen and (min-width: 768px) {
    .background_wrap {
      padding: 4vw 0;
      background: #333;
    }
    .page-width {
      max-width: none;
      width: 82vw;
    }
    .reviews_wrap {
      background: #333333;
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
    .reviews_list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3vw;
    }
    .reviews_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      transition: 100ms;
      z-index: 8;
      width: 33.33% !important;
    }
    .reviews_box.swiper-slide-active {
      transform: scale(1.2);
      z-index: 9;
    }
    .author_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 2vw 0 1.3vw;
      margin: 0 1.5vw;
      border-bottom: 1px solid #e9eff4;
    }
    .reviews_top {
      background: #fff;
      flex: 1;
      border-radius: 8px;
    }
    .reviews_bottom {
      max-height: 2vw;
    }
    .author_img {
      width: 3vw;
      margin-right: 1vw;
      position: relative;
    }
    .author_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.1vw;
      color: #fff;
    }
    .author_from {
      font-size: 1vw;
      color: #333;
    }  
    .author_star {
      width: 5.4vw;
    }
    .author_name {
      font-size: 0.8vw;
      color: #767371;
    }
    .reviews_content {
      padding: 1vw 0;
      height: 13.5vw;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .reviews_content::-webkit-scrollbar {
      display: none;
    }
    .reviews_content_text {
      padding: 0 1.5vw;
      font-size: .8vw;
      color: #888;
    }
  }
  @media screen and (max-width: 767px) {
    .background_wrap {
      background: #333;
    }
    .background_wrap .page-width {
      max-width: auto;
      padding: 40px 0;
    }
    .reviews_wrap {
      background: #333333;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .reviews_list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .reviews_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transform: scale(1);
      transition: 100ms;
      z-index: 8;
      height: auto;
      width: 245px !important;

    }
    .reviews_box::after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      position: absolute;
      left: 0;
      top: 0;
    }
    .reviews_box.swiper-slide-active {
      transform: scale(1.2);
      z-index: 9;
    }
    .reviews_box.swiper-slide-active::after {
      content: '';
      width: 100%;
      height: 100%;
      background: none;
      position: absolute;
      left: 0;
      top: 0;
    }
    .author_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 20px 0 10px;
      margin: 0 10px;
      border-bottom: 1px solid #e9eff4;
    }
    .reviews_top {
      background: #fff;
      flex: 1;
      border-radius: 8px;
    }
    .author_img {
      width: 30px;
      margin-right: 10px;
      position: relative;
    }
    .author_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 12px;
      color: #fff;
    }
    .author_from {
      font-size: 12px;
      color: #333;
    }  
    .author_star {
      width: 80px;
    }
    .author_name {
      font-size: 12px;
      color: #767371;
    }
    .reviews_content {
      padding: 10px 0;
      height: 220px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .reviews_content_text {
      padding: 0 12px;
      font-size: 12px;
      color: #888;
    }

    .reviews_wrap .swiper-pagination-bullet {
      background: #888888;
    }
    .reviews_wrap .swiper-pagination-bullet-active {
      background: #17A2E4;
    }
  }

</style>

<script>
  if (window.isMobile) {
    $('.page_wrap>.mobile-hide').html('')
    var reviews_swiper = new Swiper('.reviews_wrap.swiper-container', {
      slidesPerView: 'auto',
      spaceBetween: 0,
      loop: false,
      centeredSlides: true,
      pagination: {
        el: '.reviews_wrap .swiper-pagination',
        clickable: true,
      },
      init: false,
    });
  }else {
    $('.page_wrap>.mobile-show').html('')
    var reviews_swiper = new Swiper('.reviews_wrap.swiper-container', {
      slidesPerView: 3 ,
      spaceBetween: 0,
      loop: false,
      centeredSlides: true,
      pagination: {
        el: '.reviews_wrap .swiper-pagination',
        clickable: true,
      },
      init: false,
    });
  }
  reviews_swiper.init();
  $('.reviews_wrap.swiper-container').css('display','block')

</script>