<div class="page_wrap">
  {% assign video_url = 'https://cdn.shopify.com/s/files/1/0556/4203/0246/files/Govee_Glide_Final-1.mp4?v=1623317005' %}

  <div class="mobile-hide">
    <section class="banner" data-animate_images="true">
      <a href="https://www.amazon.com/dp/B091L21GZK?ref=myi_title_dp" target="_blank">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/11_2x_013a86ea-1668-4876-8f48-d99339de7ed7.jpg?v=1623291866" alt="">
      <div class="banner_text_wrap over_top" data-animate_images="true">
        <div class="banner_text lazyload" data-animate_text="true">
          Govee Glide Wall Light
        </div>
        <div class="banner_sub_text lazyload" data-animate_text="true">
          Shape Your Light
        </div>
        <div class="banner_shop_now">
          Shop Now
        </div>
      </div>
      </a>
    </section>

    {% render 'videos-list', section: section %}

    <section class="banner" data-animate_images="true">
      <video 
        style="object-fit: fill;width: 100%;"
        preload="metadata"
        controls
        muted
        x5-video-player-type="h5"
        webkit-playsinline
        type="webm"
        playsinline
        autoplay
        data-src="{{ video_url }}"
        class="lazyload"
        src="{{ video_url }}"></video>
    </section>

    <section class="banner" data-animate_images="true">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/37_2x_7861c473-a91e-40f6-bcba-d2ffc5c44b3d.jpg?v=1623291867" alt="">
      <div class="banner_text_wrap over_top_right" style="top: 4vw;right: 20vw;" data-animate_images="true">
        <div class="banner_text lazyload" data-animate_text="true">
          Dynamic Light Effects
        </div>
        <div class="lazyload" style="font-size: 1.8vw; font-weight: bold;">
          40+ Scenes
        </div>
        <div class="banner_sub_text lazyload" data-animate_text="true">
          One Tap to Lighting Greatness
        </div>
      </div>
    </section>

    <section class="scenes_wrap padding_left">
      <div class="wrap_item text">
        <div class="wrap_title lazyload" data-animate_text="true">
          Breathtaking <br>
          Multi-Color Lighting
        </div>
        <div class="wrap_sub_title lazyload" data-animate_sub_text="true">
          Govee patented RGBIC tech lets Glide display up to 16 million colors at one time, allowing for beautiful color combinations and flowing multi-color effects. 
        </div> 
      </div>
      <div class="wrap_item image" data-animate_images="true">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/26_2x_85fda270-f614-4f94-bdbf-7972ad49dc7a.jpg?v=1623291867" alt="" class="lazyload">
      </div>
    </section>

    <section class="scenes_wrap padding_right">
      <div class="wrap_item image" data-animate_images="true">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/17_2x_760aaffc-a7e6-443f-9b39-a069a2a9c531.jpg?v=1623291866" alt="" class="lazyload">
      </div>
      <div class="wrap_item text">
        <div class="wrap_title lazyload" data-animate_text="true">
          Powerful App to Instantly Design Your Surroundings
        </div>
        <div class="wrap_sub_title lazyload" data-animate_sub_text="true">
          With more than 28 dynamic scene modes, completely change your vibe with a single tap. You can also finger-sketch own custom color effects. With Govee, it’s so easy to define a new lighting.
        </div> 
      </div>
    </section>

    <section class="intro_icons_wrap">
      <div class="intro_list" data-animate_images="true">
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/138_2x_87e8eed4-07b5-4172-8814-508b3177c64c.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">RGBICWW Technology</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/26_2x_d780f947-2950-4dd3-b152-49691dd2981b.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">Creative DIY Mode</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/135_2x_04dbdc26-990d-4934-8b92-2e7d9bec6474.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">25 Scene Modes</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/20_2x_952d20de-4487-48fa-af01-7033bedfbde2.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">Voice Control</div>
          </div>
        </div>

        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/151_2x_e7b20fa2-b78d-4ffa-90e6-64a8571761ff.png?v=1623291866" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">6+ Music Modes</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/28_2x_769da751-eab6-40f4-b0fc-c80a3d2a7e1b.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">7 Interchangeable
              Segments</div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="mobile-show">
    <section class="banner" data-animate_images="true">
      <a href="https://www.amazon.com/dp/B091L21GZK?ref=myi_title_dp" target="_blank">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/28_2x_dfc6d082-4966-4f98-86f4-d3cbf25ba077.jpg?v=1623323052" alt="">
        <div class="banner_text_wrap over_top">
          <div class="banner_text lazyload" data-animate_text="true">
            Govee Glide Wall Light
          </div>
          <div class="banner_sub_text lazyload" data-animate_text="true">
            Shape Your Light
          </div>
          <div class="banner_shop_now">
            Shop Now
          </div>
        </div>
      </a>
    </section>

    {% render 'videos-list', section: section %}

    <section class="banner" data-animate_images="true">
      <video 
        style="object-fit: fill;width: 100%;"
        preload="metadata"
        controls
        muted
        x5-video-player-type="h5"
        webkit-playsinline
        type="webm"
        class="lazyload"
        playsinline
        data-src="{{ video_url }}"
        src="{{ video_url }}"></video>
    </section>

    <section class="scenes_wrap">
      <div class="wrap_item text">
        <div class="wrap_title lazyload" data-animate_text="true">
          Dynamic Light Effects
        </div>
        <div style="font-size: 22px;font-weight: bold;">
          <span style="color:#17A2E4;">40+</span>
          <span>Scenes</span>
        </div>
        <div class="wrap_sub_title lazyload" data-animate_sub_text="true">
          One Tap to Lighting Greatness
        </div> 
      </div>
      <div class="wrap_item image" data-animate_images="true">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/43_2x_bc36499b-511a-49ea-8185-5ec10c23ee2f.jpg?v=1623323052" alt="" class="lazyload">
      </div>
    </section>

    <section class="scenes_wrap" style="background: #000;">
      <div class="wrap_item text">
        <div class="wrap_title lazyload" data-animate_text="true" style="color:#fff;">
          Breathtaking <br>
          Multi-Color Lighting
        </div>
        <div class="wrap_sub_title lazyload" data-animate_sub_text="true" style="color:#fff;">
          Govee patented RGBIC tech lets Glide display up to 16 million colors at one time, allowing for beautiful color combinations and flowing multi-color effects. 
        </div> 
      </div>
      <div class="wrap_item image" data-animate_images="true">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/18_2x_3505c146-f523-4db1-9de8-8a6a6504616f.jpg?v=1623323052" alt="" class="lazyload">
      </div>
    </section>
    
    <section class="scenes_wrap">
      <div class="wrap_item text">
        <div class="wrap_title lazyload" data-animate_text="true">
          Powerful App to Instantly Design Your Surroundings
        </div>
        <div class="wrap_sub_title lazyload" data-animate_sub_text="true">
          With more than 28 dynamic scene modes, completely change your vibe with a single tap. You can also finger-sketch own custom color effects. With Govee, it’s so easy to define a new lighting.
        </div> 
      </div>
      <div class="wrap_item image" data-animate_images="true" style="padding: 0 20px 30px;">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/44_2x_33cd1cae-03a0-43d8-9780-0b6b825915c3.jpg?v=1623323052" alt="" class="lazyload">
      </div>
    </section>

    <section class="intro_icons_wrap">
      <div class="intro_list" data-animate_images="true">
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/138_2x_87e8eed4-07b5-4172-8814-508b3177c64c.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">RGBICWW Technology</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/26_2x_d780f947-2950-4dd3-b152-49691dd2981b.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">Creative DIY Mode</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/135_2x_04dbdc26-990d-4934-8b92-2e7d9bec6474.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">25 Scene Modes</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/20_2x_952d20de-4487-48fa-af01-7033bedfbde2.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">Voice Control</div>
          </div>
        </div>

        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/151_2x_e7b20fa2-b78d-4ffa-90e6-64a8571761ff.png?v=1623291866" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">6+ Music Modes</div>
          </div>
        </div>
        <div class="intro_item">
          <div class="intro_icon">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/28_2x_769da751-eab6-40f4-b0fc-c80a3d2a7e1b.png?v=1622713714" alt="" class="lazyload">
          </div>
          <div class="intro_text">
            <div class="intro_title ellipsis lazyload" data-animate_text="true">7 Interchangeable
              Segments</div>
          </div>
        </div>
      </div>
    </section>
  
  </div>

  {%- render 'wall-light-faq' -%}

</div>

<style>
  img {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .banner {
      position: relative;
      min-height: 400px;
    }
    .high_light {
      color: #17A2E4;
    }
    .banner_text_wrap.over_top {
      padding: 0 20vw;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
    .banner_text_wrap.over_top_right {
      position: absolute;
      top: 9.1vw;
      right: 12.9vw;
      width: 32vw;
    }
    .banner_text_wrap.over_top_right .banner_text {
      font-size: 2.3vw;
      font-weight: bold;
      line-height: 3.1vw;
      margin-bottom: 1.5vw;
    }
    .banner_text_wrap.over_top_right .banner_sub_text {
      font-size: 1.3vw;
      line-height: 1.8vw;
    }
    .banner_text_wrap.over_top .banner_text {
      font-size: 3.3vw;
      font-weight: bold;
      line-height: 4.5vw;
    }
    .banner_text_wrap.over_top .banner_sub_text {
      font-size: 2vw;
      line-height: 3vw;
      margin-bottom: 1vw;
    }
    .banner_text_wrap.over_top .banner_shop_now {
      background: #17A2E4;
      border-radius: 2vw;
      width: 10vw;
      line-height: 3vw;
      text-align: center;
      font-size: 1.2vw;
      display: inline-block;
    }
    .banner_form_wrap form {
      width: 100%;
      text-align: center;
      padding: 1vw 0;
    }
    .form_modal_mask {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 999;
      background: rgba(0, 0, 0, .3);
      display: none;
    }
    .form_modal {
      width: 24vw;
      background: #17a2e4;
      color: #fff;
      margin: 1vw auto 2vw;
      padding: 2vw 1.6vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .form_modal_close {
      width: 1.5vw;
      position: absolute;
      right: -0.5vw;
      top: -0.5vw;
    }
    .form_modal_close:hover {
      cursor: pointer;
    }
    .form_modal_title {
      font-size: 1.5vw;
      font-weight: bold;
      line-height: 1.8vw;
      margin-bottom: .5vw;
      text-align: center;
    }
    .form_modal_content {
      font-size: .9vw;
      text-align: left;
    }

    [data-type = email].form_input {
      display: inline-block;
      margin-right: 1vw;
      border: none;
      background: #F8F8F8;
      border: 1px solid #888;
      border-radius: 5px;
      text-align: center;
      line-height: 2.5vw;
    }
    [data-type = email].form_input input {
      border: none;
      padding: 0.6vw 2.5vw;
      font-size: 1.3vw;
      color: #333;
    }
    [data-type = email].form_input input::placeholder {
      color: #888;
      font-size: 1vw;
    }
    .form_submit {
      color: #fff;
      background: #17A2E4;
      border-radius: 5px;
      line-height: 2.5vw;
      padding: 0.3vw 1.8vw;
      font-size: 1.3vw;
    }
    .banner_form_tips {
      color: #D5D5D5;
      font-size: 0.8vw;
      text-align: center;
      position: relative;
      padding-top: 1vw;
    }
    .banner_form_tips span {
      text-decoration: underline;
      color: #D5D5D5;
      cursor: pointer;
    }
    .banner_form_tips_content {
      width: 40vw;
      position: absolute;
      top: 150%;
      left: 10%;
      color: #888;
      font-size: .7vw;
      background: #333;
      border-radius: 5px;
      padding: 1.5vw 1.7vw 1.5vw;
      text-align: left;
      display: none;
    }
    .banner_form_tips_content.active {
      display: block;
    }
    .banner_form_tips_content::after {
      content: '';
      height: 0px;
      width: 0px;
      display:block;
      border-width: .6vw .6vw 1vw .6vw;
      border-style:solid; 
      border-color:transparent transparent #333 transparent; 
      position:absolute; 
      top: -1.6vw;
      right: 15%;
    }
    .banner_form_tips_content div {
      line-height: 1vw;
    }
    .scenes_wrap {
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .wrap_item {
      max-width: 50%;
      min-height: 100px;
    }
    .wrap_item.text {
      color: #333;
    }
    .wrap_item .wrap_title {
      font-size: 2.3vw;
      line-height: 3.1vw;
      margin-bottom: 1.5vw;
      font-weight: bold;
    }
    .wrap_item .wrap_sub_title {
      font-size: 1.3vw;
      line-height: 1.8vw;
      margin-bottom: 1.5vw;
    }
    .padding_left .wrap_item.image {
      padding-left: 0;
    }
    .padding_left .wrap_item.text {
      padding: 0 5vw 0 12vw;
    }
    .padding_right .wrap_item.image {
      padding-right: 0;
    }
    .padding_right .wrap_item.text {
      padding: 0 12vw 0 5vw;
    }

    .intro_icons_wrap {
      background: #F0F0F0;
    }
    .intro_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 6vw 24vw 2vw;
    }
    .intro_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 32%;
      height: 9vw;
      margin-bottom: 5vw;
    }
    .intro_icon {
      width: 4vw;
      margin-bottom: 1vw;
    }
    .intro_title {
      font-size: 1.3vw;
      color: #707070;
      text-align: center;
    }

    .reviews_wrap {
      background: #333333;
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
    .reviews_list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3vw;
    }
    .reviews_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 32%;
    }
    .author_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 2vw 0 1.3vw;
      margin: 0 1.5vw;
      border-bottom: 1px solid #e9eff4;
    }
    .reviews_top {
      background: #fff;
      flex: 1;
      border-radius: 8px;
    }
    .reviews_bottom {
      max-height: 2vw;
    }

    .slogan_text {
      font-size: 2.3vw;
      line-height: 3.2vw;
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2.4vw;
    }
    .author_img {
      width: 3vw;
      margin-right: 1vw;
      position: relative;
    }
    .author_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.1vw;
      color: #fff;
    }
    .author_from {
      font-size: 1vw;
      color: #333;
    }  
    .author_star {
      width: 5.4vw;
    }
    .author_name {
      font-size: 0.8vw;
      color: #767371;
    }
    .reviews_content {
      padding: 1vw 0;
      height: 13.5vw;
      overflow: hidden;
    }
    .reviews_content_text {
      padding: 0 1.5vw;
      font-size: .8vw;
      color: #888;
    }

    .play_mask {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0);
    }
    .play_icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 50px;
    }
  }

  @media screen and (max-width: 768px) {
    .banner {
      position: relative;
      min-height: 100px;
    }
    .high_light {
      color: #17A2E4;
    }
    .banner_text_wrap.over_top {
      padding: 0 10px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
    .banner_text_wrap.over_top_right {
      position: absolute;
      top: 9.1vw;
      right: 12.9vw;
      width: 32vw;
    }
    .banner_text_wrap.over_top_right .banner_text {
      font-size: 2.3vw;
      font-weight: bold;
      line-height: 3.1vw;
      margin-bottom: 1.5vw;
    }
    .banner_text_wrap.over_top_right .banner_sub_text {
      font-size: 1.3vw;
      line-height: 1.8vw;
    }
    .banner_text_wrap.over_top .banner_text {
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
    }
    .banner_form_wrap form {
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
    .form_modal_mask {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 999;
      background: rgba(0, 0, 0, .3);
      display: none;
    }
    .form_modal {
      width: 95%;
      background: #17a2e4;
      color: #fff;
      margin-top: 10px;
      padding: 20px 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .form_modal_close {
      width: 20px;
      position: absolute;
      right: -10px;
      top: -10px;
    }
    .form_modal_title {
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 6px;
      text-align: center;
    }
    .form_modal_content {
      font-size: 12px;
      text-align: left;
    }

    [data-type = email].form_input {
      display: inline-block;
      margin-right: 5px;
      border: none;
      background: #F8F8F8;
      border: 1px solid #888;
      border-radius: 5px;
      text-align: center;
      line-height: 32px;
      width: 164px;
    }
    [data-type = email].form_input input {
      border: none;
      padding: 6px 10px;
      font-size: 12px;
      color: #333;
    }
    [data-type = email].form_input input::placeholder {
      color: #888;
      font-size: 12px;
    }
    .form_submit {
      color: #fff;
      background: #17A2E4;
      border-radius: 5px;
      line-height: 30px;
      padding: 2px 16px;
      font-size: 12px;
    }
    .banner_form_tips {
      color: #D5D5D5;
      font-size: 12px;
      text-align: center;
      position: relative;
      margin-top: 6px;
      margin-bottom: 10px;
    }
    .banner_form_tips span {
      text-decoration: underline;
      color: #D5D5D5;
      cursor: pointer;
      display: block;
    }
    .banner_form_tips_content {
      width: 100%;
      position: absolute;
      top: 114%;
      left: 0;
      color: #888;
      font-size: 12px;
      background: #333;
      border-radius: 5px;
      padding: 15px 10px;
      text-align: left;
      display: none;
    }
    .banner_form_tips_content.active {
      display: block;
    }
    .banner_form_tips_content::after {
      content: '';
      height: 0px;
      width: 0px;
      display:block;
      border-width: 10px 10px 20px 10px;
      border-style:solid; 
      border-color:transparent transparent #333 transparent; 
      position:absolute; 
      top: -20px;
      right: 45%;
    }
    .banner_form_tips_content div {
      line-height: 14px;
    }
    .scenes_wrap {
      background: #fff;
      padding: 50px 0 0;
      min-height: 400px;
    }
    .scenes_wrap.black {
      background: #000;
    }
    .wrap_item {
      max-width:100%;
    }
    .wrap_item.text.white  {
      color: #fff;
    }
    .wrap_item .wrap_title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .wrap_item .wrap_sub_title {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 15px;
    }
    .wrap_item.image {
      padding-left: 0;
    }
    .wrap_item.text {
      color: #333;
      padding-left: 30px;
      padding-right: 20px;
      padding-bottom: 35px;
    }
    .wrap_sub_image {
      width: 180px;
    }
    .intro_icons_wrap {
      background: #F0F0F0;
    }
    .intro_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 20px 0;
    }
    .intro_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 46%;
      height: 90px;
      margin-bottom: 25px;
    }
    .intro_icon {
      width: 40px;
      margin-bottom: 10px;
    }
    .intro_title {
      font-size: 12px;
      color: #707070;
      text-align: center;
    }

    .reviews_wrap {
      background: #333333;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .reviews_list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .reviews_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transform: scale(1);
      transition: 100ms;
      z-index: 8;
      height: auto;
      width: 245px;

    }
    .reviews_box::after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      position: absolute;
      left: 0;
      top: 0;
    }
    .reviews_box.swiper-slide-active {
      transform: scale(1.2);
      z-index: 9;
    }
    .reviews_box.swiper-slide-active::after {
      content: '';
      width: 100%;
      height: 100%;
      background: none;
      position: absolute;
      left: 0;
      top: 0;
    }
    .author_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 20px 0 10px;
      margin: 0 10px;
      border-bottom: 1px solid #e9eff4;
    }
    .reviews_top {
      background: #fff;
      flex: 1;
      border-radius: 8px;
    }
    .slogan_text {
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin-bottom: 24px;
    }
    .author_img {
      width: 30px;
      margin-right: 10px;
      position: relative;
    }
    .author_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 12px;
      color: #fff;
    }
    .author_from {
      font-size: 12px;
      color: #333;
    }  
    .author_star {
      width: 80px;
    }
    .author_name {
      font-size: 12px;
      color: #767371;
    }
    .reviews_content {
      padding: 10px 0;
      height: auto;
      overflow: hidden;
    }
    .reviews_content_text {
      padding: 0 12px;
      font-size: 12px;
      color: #888;
    }

    .reviews_wrap .swiper-pagination-bullet {
      background: #888888;
    }
    .reviews_wrap .swiper-pagination-bullet-active {
      background: #fff;
    }
    .reviews_wrap.swiper-container {
      display: none;
    }

    .play_mask {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0);
    }
    .play_icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 30px;
    }
  }
</style>

<script>
  if (window.isMobile) {
    $('.page_wrap>.mobile-hide').html('')
  }else {
    $('.page_wrap>.mobile-show').html('')
  }
  // 上面的alluring-content 引用了jquery 所以这里不需要再次引用了
  $('.tips_click').on('click', function() {
  let ele = $('.banner_form_tips_content');
  $(ele).hasClass('active') ? $(ele).removeClass('active') : $(ele).addClass('active')
})

  $('.form_modal_close').on('click', function () {
    $('.form_modal_mask').removeClass('show').addClass('hide');
    $('body').css('overflow','visible')
  })

  if (window.location.href.split('?contact_posted=')[1] && window.location.href.split('?contact_posted=')[1] === 'true') {
    $('.form_modal_mask').addClass('show');
    $('body').css('overflow','hidden')
  }
</script>