<div id="H5174" class="hide">
  <div class="mobile-hide">
    <section class="banner">
      <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/01_1ecedff0-5372-4f08-b1d4-317d050bfd9e.jpg?v=1621849766" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      <div class="banner_over_text">
        <div class="over_text_title">Govee Bluetooth Indoor Thermo-Hygrometer</div>
        <div class="over_text_sub_title">Monitor Your Air Where It Matters Most!</div>
      </div>
    </section>

    <section class="space_wrap">
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/ac078e7a3ccc168a7b0d7824801a6aa5.png?v=1621853870">
        <p class="icon_title">Bluetooth Connection</p>
        <p class="icon_sub_title">Up to 70m/230ft enabled control range</p>
      </div>
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/8d982b52520281d22cd8a3df110889f7_b4f9a3c8-e635-40eb-8a23-27dfa50d4b03.png?v=1621853870">
        <p class="icon_title">Accurate Data</p>
        <p class="icon_sub_title">Built-in Swiss-made sensor</p>
      </div>
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6716f252494f9121bc4a7a6f15a8671c.png?v=1621853870">
        <p class="icon_title">Alert Notification</p>
        <p class="icon_sub_title">Up to 70m/230ft enabled control range</p>
      </div>
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/72d120a9e9cae008107b5ba2f2d5518b_49b28172-8259-4b35-83ec-c5a38192a4c2.png?v=1621853870">
        <p class="icon_title">Data History</p>
        <p class="icon_sub_title">Export your data whenever you need it</p>
      </div>
    </section>
    
    <section class="scenes_wrap">
      <div class="wrap_item">
        <div class="wrap_title">
          Export Over 2 Year's Worth of Data for Free
        </div>
        <div class="wrap_img">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/8e7c01f5568b3a9e949cabcbccce7a89.png?v=1621929398" alt="Export Data for Free" class="lazyload">
        </div>
      </div>
      <div class="wrap_item">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/02_72266841-1d46-4e14-8115-7946a18371c0.jpg?v=1621849766" alt="Export Data for Free" class="lazyload">
      </div>
    </section>
    <section class="scenes_wrap">
      <div class="wrap_item">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/03_b2914b9e-49f3-4ef4-85ad-c4879d97a1a8.jpg?v=1621849766" alt="Accurate & Fast" class="lazyload">
      </div>
      <div class="wrap_item">
        <div class="wrap_title">
          Accurate & Fast
        </div>
        <div class="wrap_img extra-wrap">
          <div class="wrap_sub_title">
            With a Swiss made sensor, temp and humidity measurements are accurate to ±0.54℉/±0.3℃ and ±3%RH, respectively.A 2s data refresh speed keeps you up-to-date with relevant readings.
          </div> 
          <div class="extra-code-wrap">
            <div class="extra-code-item">
              <div class="extra-code-img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5f66aa6f0df750c107816a5a60541863.png?v=1621853820" alt="">
              </div>
              <div class="extra-code-text">
                <span>Working Temp: -4℉-140℉ </span><br>
                <span>Temp Accuracy: ±0.54℉/±0.3℃</span>
              </div>
            </div>
            <div class="extra-code-item">
              <div class="extra-code-img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/10f92b85d135a5ebf29b7d8ff6282430.png?v=1621853820" alt="">
              </div>
              <div class="extra-code-text">
                <span>Working Humidity: 0%-99%RH</span><br>
                <span>Temp Accuracy: ±0.3%RH</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text">
        <div class="over_text_title">Alert Function</div>
        <div class="over_text_sub_title">When temp or humidity levels fall out preset ranges, you will immediately receive an app alert and can react quickly to air quality changes in your terrariums or wine cellars.  </div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/04_4222d794-42c8-4f1d-9479-fdd50429aec2.jpg?v=1621849766" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_top">
        <div class="over_text_title">Bluetooth Connection</div>
        <div class="over_text_sub_title">Up to 70m/230ft enabled control range. Bluetooth connectivity allows you to remotely check and receive valuable data via the Govee Home app.</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/06_79e9a4b4-b9a8-488f-9629-b4dacf4c55b2.jpg?v=1621849767" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_left">
        <div class="over_text_title">Long Battery Life</div>
        <div class="over_text_sub_title">Enjoy over 500 days of continuous use</div>
        <div class="extra-battery-wrap">
          <div class="extra-battery-img">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/04c4df44b6c0aa356206d8a006111836.png?v=1621935065" alt="">
          </div>
          <div class="extra-battery-info">
            <div>
            <span>0</span>day</div>
                  <div>
            <span>500</span>days</div>
          </div>
        </div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07_b97999ea-21b2-4a8a-bc60-fe21e8c24715.jpg?v=1621849766" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text">
        <div class="over_text_title">Suitable for Various Spaces</div>
        <div class="over_text_sub_title">Green Houses | Bedrooms | Nursery | Incubators | Wine Cellars</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/08_eec0aafb-4756-4bf1-bfc7-d724e73e7f05.jpg?v=1621849767" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="compare_wrap">
      <div class="compare_title">
        Compare with other models
      </div>
      <div class="compare_content">
        <div class="compare_tab">
          <div class="compare_tab_item active">Model</div>
          <div class="compare_tab_item">Remote Control</div>
          <div class="compare_tab_item">Bluetooth-Enabled Range</div>
          <div class="compare_tab_item">Wi-Fi-Enabled Range</div>
          <div class="compare_tab_item">Temperature Accuracy</div>
          <div class="compare_tab_item">Humidity Accuracy</div>
          <div class="compare_tab_item">Working Temperature</div>
          <div class="compare_tab_item">Working Humidity Range</div>
          <div class="compare_tab_item">Data Refresh Speed</div>
          <div class="compare_tab_item">Power Supply</div>
          <div class="compare_tab_item">Size</div>
          <div class="compare_tab_item">Weight</div>
        </div>
    
        <div class="compare_product">
          <div class="compare_product_item active">H5174</div>
          <div class="compare_product_item static">Bluetooth</div>
          <div class="compare_product_item active">70m/230ft (no obstructions)</div>
          <div class="compare_product_item">/</div>
          <div class="compare_product_item">±0.3°C（±0.54℉)</div>
          <div class="compare_product_item">±3%RH</div>
          <div class="compare_product_item">-20to60°C(14to140℉)</div>
          <div class="compare_product_item">0-100%RH</div>
          <div class="compare_product_item">2s</div>
          <div class="compare_product_item">3×AAA Batteries (included)</div>
          <div class="compare_product_item active">4.42×3.61×0.89 in</div>
          <div class="compare_product_item active">0.3329 lb</div>
          <div class="compare_product_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5174.png?v=1622108182" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
          </div>
        </div>
    
        <div class="compare_product">
          <div class="compare_product_item static">H5177</div>
          <div class="compare_product_item static">Bluetooth</div>
          <div class="compare_product_item static">60m/197ft (no obstructions)</div>
          <div class="compare_product_item">/</div>
          <div class="compare_product_item">±0.3°C（±0.54℉)</div>
          <div class="compare_product_item">±3%RH</div>
          <div class="compare_product_item">-20to60°C(14to140℉)</div>
          <div class="compare_product_item">0-100%RH</div>
          <div class="compare_product_item">2s</div>
          <div class="compare_product_item">3×AA Batteries (included)</div>
          <div class="compare_product_item static">4.42×3.61×0.89 in</div>
          <div class="compare_product_item static">0.3329 lb</div>
          <div class="compare_product_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5177.png?v=1622108182" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
          </div>
        </div>
    
        <div class="compare_product">
          <div class="compare_product_item static">H5179</div>
          <div class="compare_product_item static">WiFi+Bluetooth</div>
          <div class="compare_product_item static">30m/49ft (no obstructions)</div>
          <div class="compare_product_item">50m/164ft (no obstructions)</div>
          <div class="compare_product_item">±0.3°C（±0.54℉)</div>
          <div class="compare_product_item">±3%RH</div>
          <div class="compare_product_item">-20to60°C(14to140℉)</div>
          <div class="compare_product_item">0-99%RH</div>
          <div class="compare_product_item">2s</div>
          <div class="compare_product_item">3×AA Batteries (included)</div>
          <div class="compare_product_item static">2.83x2.83x0.94 in</div>
          <div class="compare_product_item static">0.2623 lb</div>
          <div class="compare_product_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5179.png?v=1622108182" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="mobile-show">
    <section class="middle_wrap">
      <div class="banner_top_text over_top">
        <div class="over_text_title">Govee Bluetooth Indoor Thermo-Hygrometer</div>
        <div class="over_text_sub_title">Monitor Your Air Where It Matters Most!</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/001.jpg?v=1621916371" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="space_wrap">
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/ac078e7a3ccc168a7b0d7824801a6aa5.png?v=1621853870">
        <p class="icon_title">Bluetooth Connection</p>
        <p class="icon_sub_title">Up to 70m/230ft enabled control range</p>
      </div>
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/8d982b52520281d22cd8a3df110889f7_b4f9a3c8-e635-40eb-8a23-27dfa50d4b03.png?v=1621853870">
        <p class="icon_title">Accurate Data</p>
        <p class="icon_sub_title">Built-in Swiss-made sensor</p>
      </div>
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6716f252494f9121bc4a7a6f15a8671c.png?v=1621853870">
        <p class="icon_title">Alert Notification</p>
        <p class="icon_sub_title">Up to 70m/230ft enabled control range</p>
      </div>
      <div class="space_item">
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/72d120a9e9cae008107b5ba2f2d5518b_49b28172-8259-4b35-83ec-c5a38192a4c2.png?v=1621853870">
        <p class="icon_title">Data History</p>
        <p class="icon_sub_title">Export your data whenever you need it</p>
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text grey">
        <div class="over_text_title black">Export Over 2 Year's Worth of Data for Free</div>
        <div class="over_text_img">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/8e7c01f5568b3a9e949cabcbccce7a89.png?v=1621929398" alt="Export Data for Free" class="lazyload">
        </div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/002.jpg?v=1621916371" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_top black">
        <div class="over_text_title">Accurate & Fast</div>
        <div class="over_text_sub_title">With a Swiss made sensor, temp and humidity measurements are accurate to ±0.54℉/±0.3℃ and ±3%RH, respectively.A 2s data refresh speed keeps you up-to-date with relevant readings.</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/003.jpg?v=1621916371" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_top black">
        <div class="over_text_title">Alert Function</div>
        <div class="over_text_sub_title">When temp or humidity levels fall out preset ranges, you will immediately receive an app alert and can react quickly to air quality changes in your terrariums or wine cellars.  </div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/004.jpg?v=1621916371" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_top black">
        <div class="over_text_title">Bluetooth Connection</div>
        <div class="over_text_sub_title">Up to 70m/230ft enabled control range. Bluetooth connectivity allows you to remotely check and receive valuable data via the Govee Home app.</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/005.jpg?v=1621916371" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_top black">
        <div class="over_text_title">Long Battery Life</div>
        <div class="over_text_sub_title">Enjoy over 500 days of continuous use</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/006.jpg?v=1621916371" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="middle_wrap">
      <div class="banner_top_text over_top">
        <div class="over_text_title" style="padding: 0 10px; font-size: 24px;">Suitable for Various Spaces</div>
        <div class="over_text_sub_title" style="padding: 0 40px; font-size: 14px;">Green Houses | Bedrooms | Nursery  Incubators | Wine Cellars</div>
      </div>
      <div class="middle_banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/007.jpg?v=1621916371" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
      </div>
    </section>

    <section class="compare_wrap">
      <div class="compare_title">
        Compare with other models
      </div>
      <table class="compare_content">
        <tbody class="compare_tab">
          <tr class="compare_tr">
            <td class="compare_td">Model</td>
            <td class="compare_td active">H5174</td>
            <td class="compare_td">H5179</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Appearance</td>
            <td class="compare_td img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5174.png?v=1622108182" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
            </td>
            <td class="compare_td img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5179.png?v=1622108182" alt="Govee Bluetooth Indoor Thermo-Hygrometer" class="lazyload">
            </td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Temperature Accuracy</td>
            <td class="compare_td">±0.3°C（±0.54℉)</td>
            <td class="compare_td">±0.3°C（±0.54℉)</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Humidity Accuracy</td>
            <td class="compare_td">±3%RH</td>
            <td class="compare_td">±3%RH</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Working Temperature</td>
            <td class="compare_td">-20 to 60°C<br>(14 to 140℉)</td>
            <td class="compare_td">-20 to 60°C<br>(14 to 140℉)</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Working Humidity Range</td>
            <td class="compare_td">0-100%RH</td>
            <td class="compare_td">0-100%RH</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Bluetooth-Enabled Range</td>
            <td class="compare_td active">70m/230ft <br>(no obstructions)</td>
            <td class="compare_td">30m/49ft <br>(no obstructions)</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Wi-Fi-Enabled <br>Range</td>
            <td class="compare_td">/</td>
            <td class="compare_td">50m/164ft <br>(no obstructions)</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Data Refresh Speed</td>
            <td class="compare_td">2s</td>
            <td class="compare_td">2s</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Power Supply</td>
            <td class="compare_td">3×AAA Batteries <br>(included)</td>
            <td class="compare_td">3×AAA Batteries <br>(included)</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Size</td>
            <td class="compare_td active">4.42×3.61×0.89 in</td>
            <td class="compare_td">2.83x2.83x0.94 in</td>
          </tr>
          <tr class="compare_tr">
            <td class="compare_td">Weight</td>
            <td class="compare_td active">0.3329 lb</td>
            <td class="compare_td">0.2623 lb</td>
          </tr>
        </tbody>
      </table>
    </section>



  </div>
</div>
<style>
  #H5174 img {
    display: block;
  }
  @media screen and (min-width: 769px) {
    .banner {
      position: relative;
      min-height: 200px;
    }

    .banner_over_text {
      position: absolute;
      right: 6%;
      top: 40%;
      width: 40%;
    }
    .over_text_title {
      font-size: 3vw;
      line-height: 4vw;
      margin-bottom: 1vw;
      font-weight: bold;
      color: #fff;
    }
    .over_text_sub_title {
      font-size: 1.2vw;
      color: #fff;
    }
    .space_wrap .space_item p {
      margin: 0;
    }
    .icon_title {
      font-weight: bold;
      color: #000;
      font-size: 1.4vw;
    }
    .icon_sub_title {
      font-size: 1.2vw;
      color: #989898;
    }
    .space_wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      background: #fff;
      padding: 4.5vw 3vw;
    }
    .space_wrap .space_item {
      text-align: center;
      padding: 0 10px;
    }
    .space_wrap .space_item img {
      height: 2.5vw;
      max-width: 100%;
      margin: auto;
      margin-bottom: 20px;
    }
    .scenes_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
    }
    .wrap_item {
      flex: 1;
    }
    .wrap_title {
      font-size: 3vw;
      color: #000;
      margin: 0 100px;
      font-weight: bold;
      letter-spacing: 0;
    }
    .wrap_sub_title {
      color: rgba(0, 0, 0, .7);
      font-size: 1.2vw;
    }
    .wrap_img {
      margin: 40px 100px 0;
    }
    .extra-wrap {
      margin: 0 100px;
      color: #555;
    }
    .extra-code-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px auto 0;
    }
    .extra-code-item {
      display: flex;
      align-items: center;
    }
    .extra-code-img {
      width: fit-content !important;
    }
    .extra-code-text {
      padding-left: 10px;
      width: 100% !important;
      font-size:0.8vw;
    }
    .middle_wrap {
      background: #fff;
      position: relative;
    }
    .banner_top_text {
      padding: 40px 0;
      width: 64%;
      margin: 0 auto;
      text-align: center;
    }
    .banner_top_text.over_top {
      position: absolute;
      top: 2%;
      transform: translateX(-50%);
      left: 50%;
    }
    .banner_top_text .over_text_title {
      color: #000;
      letter-spacing: normal;
    }
    .banner_top_text .over_text_sub_title {
      color: rgba(0, 0, 0, .7);
    }

    .banner_top_text.over_left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .banner_top_text.over_left .over_text_title {
      color: #fff;
      margin-bottom: 10px;
    }
    .banner_top_text.over_left .over_text_sub_title {
      color: #f7f7f7;
      margin-bottom: 40px;
    }
    .extra-battery-wrap {
      width: 40%;
      margin: 0 auto;
    }
    .extra-battery-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #50afdf;
      font-weight: bold;
    }
    .extra-battery-info span {
      font-size: 40px;
    }
    .extra-battery-code p {
      color: #fff !important;
      font-size: 1.6vw;
    }
    .extra-battery-img img {
      margin: 0 auto;
    }

    .specification_wrap {
      background: #000;
      padding: 40px 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .specification_wrap .product_img {
      height: 25vw;
    }
    .specification_wrap .product_img img {
      height: 100%;
    }
    .specification_wrap .specification_table {
      width: 50%;
    }
    .H5174_spacification_item {
      flex: 1;
    }
    .H5174_spacification_item:first-child {
      margin-right: 6vw;
    }
    .H5174_spacification_item .top {
      font-size: 1vw;
      color: rgba(255, 255, 255, .7);
      word-break: break-word;
    }
    .H5174_spacification_item .bottom {
      color: #fff;
      font-size: 1.25vw;
      word-break: break-word;
    }
    .spacification_td_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #7f7f7f;
    }
    .specification_table_td.title .spacification_td_item {
      font-size: 2.8vw;
      border-bottom: none;
    }

    .compare_wrap {
      background: #000;
    }
    .compare_title {
      font-size: 2.8vw;
      font-weight: bold;
      text-align: center;
      padding: 2.5vw 0 6vw;
    }
    .compare_content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: #1c1c1c;
      padding: 3.125vw 2vw 3.125vw 0;
      max-width: calc(100% - 18vw);
      margin: 0 auto;
    }
    .compare_tab {
      padding: 1.25vw 0;
      color: #fcfcfc;
    }
    .compare_tab_item {
      font-size: 1vw;
      padding: 0.8vw 2.5vw;
      font-weight: bold;
      color: #afafaf;
    }
    .compare_tab_item.active {
      color: #fff;
      background: #00ace7;
    }
    .compare_product {
      padding: 1.875vw 2.5vw;
      background: #000;
      border-radius: 2px;
      position: relative;
      margin-right: 1.1vw;
      color: #afafaf;
    }
    .compare_product:last-child {
      margin-right: 0;
    }
    .compare_product_item {
      font-size: 1vw;
      text-align: center;
      padding: 0.8vw 0;
      font-weight: bold;
      color: #afafaf;
    }
    .compare_product_item.active {
      color: #00ace7;
    }
    .compare_product_item.static {
      color: #fff;
    }
    .compare_product_img {
      position: absolute;
      top: -16%;
      left: 50%;
      transform: translateX(-50%);
      width: 7.5vw;
    }  
  }

  @media screen and (max-width: 768px) {
    .black {
      color: #000;
    }
    .middle_wrap {
      position: relative;
      min-height: 500px;
    }
    .banner_top_text.over_top {
      position: absolute;
      top: 8%;
      transform: translateX(-50%);
      left: 50%;
      width: 100%;
    }
    .banner_top_text.grey {
      background: #f7f7f7;
      padding-top: 30px;
    }
    .banner_top_text.over_top.black {
      top: 5%;
    }
    .banner_top_text.over_top.black .over_text_sub_title {
      font-size: 12px;
      color: #555;
      padding: 0 10px;
    }
    .over_text_img {
      padding: 10px 20px 10px;
    }
    .over_text_title {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }
    .over_text_sub_title {
      font-size: 16px;
      color: #f7f7f7;
      text-align: center;
    }
    .space_wrap {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      padding: 20px 0;
    }
    .space_wrap .space_item {
      width: 50%;
      text-align: center;
      margin-bottom: 15px;
      padding: 0 10px;
    }
    .space_wrap .space_item img {
      margin: 0 auto;
      height: 30px;
      max-width: 100%;
      margin: auto;
      margin-bottom: 10px;
    }
    .space_wrap .space_item p {
      margin: 0;
    }
    .icon_title {
      font-weight: bold;
      color: #000;
      font-size: 14px;
    }
    .icon_sub_title {
      font-size: 12px;
      color: #989898;
    }
    .specification_wrap {
      background: #000;
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap-reverse;
    }
    .specification_wrap .product_img {
      height: 200px;
      margin: 0 auto;
    }
    .specification_wrap .product_img img {
      height: 100%;
    }
    .specification_wrap .specification_table {
      width: 100%;
    }
    .H5174_spacification_item {
      flex: 1;
    }
    .H5174_spacification_item:first-child {
      margin-right: 10px;
    }
    .H5174_spacification_item .top {
      font-size: 12px;
      color: rgba(255, 255, 255, .7);
      word-break: break-word;
    }
    .H5174_spacification_item .bottom {
      color: #fff;
      font-size: 12px;
      word-break: break-word;
    }
    .spacification_td_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #7f7f7f;
    }
    .specification_table_td.title .spacification_td_item {
      font-size: 28px;
      border-bottom: none;
      font-weight: bold;
    }

    .compare_wrap {
      background: #131313;
      padding: 0 10px;
    }
    .compare_title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 24px 0;
    }
    .compare_content {
      border-top: 1px solid #393939;
      border-right: 1px solid #393939;
      background: none;
    }
    .compare_tr {
      color: #fcfcfc;
    }
    .compare_td {
      font-size: 12px;
      font-weight: bold;
      color: #afafaf;
      border-bottom: 1px solid #393939;
      border-left: 1px solid #393939;
      padding: 6px 8px;
      width: 22%;
    }
    .compare_td.img img {
      width: 60px;
    }
    .compare_td.active {
      color: #00ace7;
    }
  }
</style>