<section class="section_wrap country_selector" style="display: inline-block;vertical-align: middle;">
  <div class="flex_center hvr-icon-hang">
    <div class="country_img">
      <img src="" alt="">
    </div>
    <div class="country_select_wrap">
            <svg  style="width: 10px; height: 10px;" aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
    </div>
  </div>
  
  <div class="country_select_mask hvr-round-corners" style="display:none">
    <div class="country_list">
      <div class="country_item hvr-bob" data-url="us">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/us.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span class="hvr-underline-reveal">USA</span>
      </div>
      <div class="country_item hvr-bob" data-url="eu">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/eu.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span class="hvr-underline-reveal">EUROPE</span>
      </div>
      <div class="country_item hvr-bob" data-url="ca">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/ca.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span class="hvr-underline-reveal">CANADA</span>
      </div>
      <div class="country_item hvr-bob" data-url="uk">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/uk.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span class="hvr-underline-reveal">UNITED KINGDOM</span>
      </div>
    </div>
  </div>
</section>
