<section class="section_wrap country_selector">
  <div class="flex_center">
    <div class="country_img mr10">
      <img src="" alt="">
    </div>
    <div class="country_select_wrap flex_center">
      <span class="country_name mr10"></span>
      <div class="select_dowm_icon">
        <img
          src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/47_2x_1eba8665-39f1-460f-a2f6-103279457c35.png?v=1629081406"
          alt="">
      </div>
      <div class="select_up_icon" style="display:none">
        <img
          src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/47_2x_1eba8665-39f1-460f-a2f6-103279457c35.png?v=1629081406"
          alt="">
      </div>
    </div>
  </div>
  
  <div class="country_select_mask" style="display:none">
    <div class="country_list">
      <div class="country_item" data-url="us">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/us.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span>USA</span>
      </div>
      <div class="country_item" data-url="eu">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/eu.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span>EUROPE</span>
      </div>
      <div class="country_item" data-url="ca">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/ca.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span>CANADA</span>
      </div>
      <div class="country_item" data-url="uk">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/uk.jpg?v=1619160762" alt="" class="country_img lazyload">
        <span>UNITED KINGDOM</span>
      </div>
    </div>
  </div>
</section>
