<section class="header_wrap page-width">
  <div class="header">We're sorry!</div>
  <div class="sub_header">This sale has ended.</div>
  <a href="/"><div class="btn btn--inverse ">View more product</div></a>
</section>

<style>
  .header_wrap {
    text-align: center;
    padding: 12vw 0;
  }
  .header {
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .sub_header {
    font-size: 1.375vw;
    color: #d6d6d6;
    margin-bottom: 2.7vw;
  }

  @media screen and (max-width: 568px) {
    .header_wrap {
      text-align: center;
      padding: 12vw 0 0;
    }
    .header {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .sub_header {
      font-size: 14px;
      color: #d6d6d6;
      margin-bottom: 2.7vw;
    }

  }
</style>
