<div class="page_wrap">
  <div class="mobile-hide">
    <section class="banner_wrap">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/banner_64838a4f-d27e-40f8-941b-25344076e300.jpg?v=1620634206"
        alt="member_banner"
        class="lazyload"
      />
      <div class="banner_text">
        BEING MEMBER<br />
        OF GOVEE
      </div>
    </section>
    <div style="background: #191919;padding: 4.375px 0 5.43vw;">
      <section class="header_wrap page-width">
        <div class="header">WHY JOIN ?</div>
        <div class="sub_header">
          Enjoy exclusive discounts, latest product launches, and insider events?
          <br />
          Then you’ll love being part of the Govee member.
        </div>
      </section>
      <section class="member_right_wrap page-width">
        <img
          data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_dividing_text_line_5c4ea414-29a4-4c35-b0b5-ffd98ab7a19a.png?v=1620458264"
          alt="member_banner" class="lazyload"
        />
        <div class="rights_wrap">
          <div class="rights_item">
            <div class="rights_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_sale1.png?v=1620457918" class="lazyload" alt="member-sale1">
            </div>
            <div class="rights_item_text">Enjoy <span style="font-size: 1.875vw;">15%</span> off during member week</div>
          </div>
          <div class="rights_item">
            <div class="rights_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_sale2.png?v=1620457918" class="lazyload" alt="member-sale2">
            </div>
            <div class="rights_item_text">Secret Giveaway</div>
          </div>
          <div class="rights_item">
            <div class="rights_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_sale3.png?v=1620457918" class="lazyload" alt="member-sale3">
            </div>
            <div class="rights_item_text">Receive Govee Store points and redeem coupons</div>
          </div>
        </div>
      </section>
    </div>
    <section class="header_wrap page-width">
      <div class="header">SUBSCRIBE NOW AND START RECEIVING YOUR BENEFITS!</div>
      <div class="sub_header">*Once registration is successful, you’ll be redirected automatically to the homepage.*</div>
    </section>
    <section class="form_wrap page-width">
      {% form 'create_customer' %} {{ form.errors | default_errors }}
      
      <div class="form_item">
        <label for="FirstName">
          <input type="text" id="FirstName" placeholder="First Name" value="" name="customer[first_name]" />
        </label>
      </div>

      <div class="form_item">
        <label for="PCLastName">
          <input type="text" id="PCLastName" placeholder="Last Name" value="" name="customer[last_name]" />
        </label>
      </div>

      <div class="form_item">
        <label for="PCEmail">
          <input type="email" id="PCEmail" placeholder="Email Address" value="" name="customer[email]" />
      </label>
      </div>

      <div class="form_item">
        <label for="PCPassword">
          <input type="password" id="PCPassword" placeholder="Password" value="" name="customer[password]" />
        </label>
      </div>

      <div class="subscribe">
        <label for="pcCheckbox">
          <input type="checkbox" id="pcCheckbox" checked="checked" value="true" name="customer[accepts_marketing]" />
          <span class="subscribe_text">subscribe email</span>
        </label>
      </div>

      <div class="form_item submit">
        <input type="submit" value="Create" />
      </div>

      {% endform %}
    </section>
    <section class="banner_wrap bottom">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/banner_589ccaa9-d3a8-4df9-9caa-688040da8198.jpg?v=1620634206"
        alt="member_banner"
        class="lazyload"
      />
      <div class="banner_text">
        GOVEE MORE EARNING PROGRAM
      </div>
    </section>
    <section class="link_wrap page-width">
      <div class="link_item">
        <div class="link_title">AFFILIATE PROGRAM</div>
        <a href="/pages/affiliate"><div class="link_button">JOIN HERE</div></a>
        <div class="link_sub_title">Enjoy up to 20% in commission, high-quality products,and exclusive product testing. So, what are you waiting for?</div>
      </div>
      <div class="link_item">
        <div class="link_title">REFERRAL PROGRAM</div>
        <a href="/pages/referral"><div class="link_button">JOIN HERE</div></a>
        <div class="link_sub_title">Give friends 10% off when they buy from your referral link. You get 5% of friend's purchase amount. Achieve a win-win situation with your friends by joining our Referral Program Now.</div>
      </div>
    </section>
  </div>

  <div class="mobile-show">
    <section class="banner_wrap">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/banner_mb.jpg?v=1620629206"
        alt="member_banner_mb"
        class="lazyload"
      />
      <div class="banner_text">
        BEING MEMBER<br />
        OF GOVEE
      </div>
    </section>
    <div style="background: #191919;">
      <section class="header_wrap page-width">
        <div class="header">WHY JOIN ?</div>
        <div class="sub_header">
          Enjoy exclusive discounts, latest product launches, and insider events?
          <br />
          Then you’ll love being part of the Govee member.
        </div>
      </section>
      <section class="member_right_wrap page-width">
        <img
          data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_divide_line_mb.png?v=1620629205"
          alt="member_divide_line" class="lazyload"
        />
        <div class="rights_wrap">
          <div class="rights_item">
            <div class="rights_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_icon3_mb.png?v=1620629206" class="lazyload" alt="member-sale1">
            </div>
            <div class="rights_item_text">Enjoy <span style="font-size: 18px;">15%</span> off during member week</div>
          </div>
          <div class="rights_item">
            <div class="rights_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_icon2_mb.png?v=1620629206" class="lazyload" alt="member-sale2">
            </div>
            <div class="rights_item_text">Secret Giveaway</div>
          </div>
          <div class="rights_item">
            <div class="rights_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/member_icon1_mb.png?v=1620629206" class="lazyload" alt="member-sale3">
            </div>
            <div class="rights_item_text">Receive Govee Store points and redeem coupons</div>
          </div>
        </div>
      </section>
    </div>
    <section class="header_wrap page-width">
      <div class="header">SUBSCRIBE NOW AND START RECEIVING YOUR BENEFITS!</div>
      <div class="sub_header">*Once registration is successful, you’ll be redirected automatically to the homepage.*</div>
    </section>
    <section class="form_wrap page-width">
      {% form 'create_customer' %} {{ form.errors | default_errors }}
      
      <div class="form_item">
        <label for="MBFirstName">
          <input type="text" id="MBFirstName" placeholder="First Name" value="" name="customer[first_name]" />
        </label>
      </div>

      <div class="form_item">
        <label for="MBLastName">
          <input type="text" id="MBLastName" placeholder="Last Name" value="" name="customer[last_name]" />
        </label>
      </div>

      <div class="form_item">
        <label for="MBEmail">
          <input type="email" id="MBEmail" placeholder="Email Address" value="" name="customer[email]" />
      </label>
      </div>

      <div class="form_item">
        <label for="MBPassword">
          <input type="password" id="MBPassword" placeholder="Password" value="" name="customer[password]" />
        </label>
      </div>

      <div class="form_item subscribe">
        <label for="MBCheckbox">
          <input type="checkbox" id="MBCheckbox" checked="checked" value="true" name="customer[accepts_marketing]" />
          <span class="subscribe_text">subscribe email</span>
        </label>
      </div>

      <div class="form_item submit">
        <input type="submit" value="Create" />
      </div>

      {% endform %}
    </section>
    <section class="banner_wrap bottom">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/more_right_mb.jpg?v=1620629206"
        alt="member_banner"
        class="lazyload"
      />
      <div class="banner_text bottom">
        GOVEE MORE EARNING <br> PROGRAM
      </div>
    </section>
    <section class="link_wrap page-width">
      <div class="link_item">
        <div class="link_title">AFFILIATE PROGRAM</div>
        <a href="/pages/affiliate"><div class="link_button">JOIN HERE</div></a>
        <div class="link_sub_title">Enjoy up to 20% in commission, high-quality products,and exclusive product testing. So, what are you waiting for?</div>
      </div>
      <div class="link_item">
        <div class="link_title">REFERRAL PROGRAM</div>
        <a href="/pages/referral"><div class="link_button">JOIN HERE</div></a>
        <div class="link_sub_title">Give friends 10% off when they buy from your referral link. You get 5% of friend's purchase amount. Achieve a win-win situation with your friends by joining our Referral Program Now.</div>
      </div>
    </section>
  </div>
</div>

<style>
  .page_wrap img {
    display: block;
  }
  .banner_wrap {
    position: relative;
  }
  .mobile-hide .banner_text {
    position: absolute;
    left: 16.5vw;
    top: 42%;
    transform: translateY(-50%);
    font-size: 2.75vw;
    font-weight: bold;
  }
  .mobile-hide .bottom .banner_text {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .mobile-hide .header_wrap {
    text-align: center;
    padding: 3.75vw 0;
  }
  .mobile-hide .header {
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .mobile-hide .sub_header {
    font-size: 1.375vw;
    color: #d6d6d6;
  }
  .mobile-hide .member_right_wrap img {
    width: 100%;
  }
  .mobile-hide .rights_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875vw;
    background: #191919;
  }
  .mobile-hide .rights_item {
    background: #292929;
    flex: 1;
    padding-bottom: 2vw;
  }
  .mobile-hide .rights_item:not(:last-child) {
    margin-right: 1.875vw;
  }
  .mobile-hide .rights_item_img {
    margin: 2.18vw 5.94vw;
  }
  .mobile-hide .rights_item_text {
    text-align: center;
    font-size: 1.375vw;
    padding: 0 2vw;
  }
  .mobile-hide .form_wrap {
    text-align: center;
    margin-bottom: 7.625vw;
  }
  .mobile-hide .form_item {
    width: 35%;
    display: inline-block;
    margin: 0 auto 1.87vw;
  }
  .mobile-hide .form_item.submit {
    width: calc(70% + 2.35vw);
  }
  .mobile-hide .form_item input  {
    width: 100%;
    height: 3.12vw;
    border: none;
    background: #252525;
    border-radius: 2px;
  }
  .mobile-hide .form_item:nth-child(odd) {
    margin-right: 2.35vw;
  }
  .mobile-hide .form_item.submit input {
    background: linear-gradient(45deg, #5666fe, #d57dfe);
    font-weight: bold;
  }
  .mobile-hide .link_wrap {
    margin: 6.375vw auto;
    display: flex;
    justify-content: center;
  }
  .mobile-hide .link_item {
    width: 36.25vw;
    text-align: center;
    background: #1e1e1e;
    padding: 5vw 2vw;
  }
  .mobile-hide .link_item:first-child {
    margin-right: 1.875vw;
  }
  .mobile-hide .link_button {
    background: linear-gradient(45deg, #5666fe, #d57dfe);
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    font-size: 1.375vw;
    width: 25vw;
    height: 3.25vw;
    line-height: 3.25vw;
    margin: 1.875vw auto;
  }
  .mobile-hide .link_title {
    font-size: 1.375vw;
    font-weight: bold;
  }
  .mobile-hide .link_sub_title {
    font-size: 1.125vw;
    padding: 0 1vw;
  }
  .mobile-hide .subscribe {
    width: calc( 70% + 2.35vw );
    margin: 0 auto;
    overflow: hidden;
  }
  .mobile-hide .subscribe label {
    float: left;
    margin-bottom: 2vw;
  }
  .mobile-hide .subscribe label input {
    width: 1.4vw;
    height: 1.4vw;
    vertical-align: middle;
  }
  .mobile-hide .subscribe_text{
    font-size: 1.2vw;
    text-transform: Capitalize;
    letter-spacing: normal;
    vertical-align: middle;
  }
</style>
<style>

  .mobile-show .banner_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    top: 40px;
    font-size: 24px;
    font-weight: bold;
  }
  .mobile-show .bottom .banner_text {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    top: 50%;
    font-size: 18px;
    font-weight: bold;
  }
  .mobile-show .header_wrap {
    text-align: center;
    padding: 20px 10px;
  }
  .mobile-show .header {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .mobile-show .sub_header {
    font-size: 12px;
    color: #d6d6d6;
  }
  .mobile-show .member_right_wrap img {
    width: 100%;
  }


  .mobile-show .rights_wrap {
    background: #191919;
    padding: 30px 0 50px;
  }
  .mobile-show .rights_item {
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-show .rights_item:not(:last-child) {
    margin-bottom: 15px;
  }
  .mobile-show .rights_item_img {
    margin-left: 24px;
  }

  .mobile-show .rights_item_text {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    margin: 0 20px;
  }
  .mobile-show .form_wrap {
    text-align: center;
    margin-bottom: 30px;
  }
  .mobile-show .form_item {
    width: 100%;
    margin: 0 auto 15px;
  }
  .mobile-show .form_item input  {
    width: 100%;
    height: 40px;
    border: none;
    background: #252525;
    border-radius: 2px;
  }
  .mobile-show .form_item.submit input {
    background: linear-gradient(45deg, #5666fe, #d57dfe);
    font-weight: bold;
  }
  .mobile-show .link_wrap {
    margin: 20px auto;
  }
  .mobile-show .link_item {
    width: 100%;
    text-align: center;
    background: #1e1e1e;
    padding: 20px;
  }
  .mobile-show .link_item:first-child {
    margin-bottom: 20px;
  }
  .mobile-show .link_button {
    background: linear-gradient(45deg, #5666fe, #d57dfe);
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 20px 0;
  }
  .mobile-show .link_title {
    font-size: 18px;
    font-weight: bold;
  }
  .mobile-show .link_sub_title {
    font-size: 12px;
  }
  .mobile-show .subscribe label {
    display: flex;
    align-items: center;

  }
  .mobile-show .subscribe label input {
    width: 30px;
    height: 30px;
  }
  .mobile-show .subscribe_text{
    font-size: 14px;
  }
</style>