<div class="crazy_madness_page">
  <div class="crazy_madness_wrap mobile-show ipad-hide">
    <div class="crazy_madness_banner mobile">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/Govee-store-M_f7563ec2-0c2d-48a2-90ff-32f3e03d54ce.jpg?v=1614939019">
      <div class="crazy_madness_banner_text mobile">
        <div class="title">Bring on the games, bring on colorized entertainment!</div>
      </div>
    </div>
    <div class="crazy_madness_products mobile">
      <div class="product product_1 mobile">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/1_02_002fef2e-9ae2-4356-b078-66cb6dc34b51.jpg?v=1615367188" alt="bg_product1">
        <div class="product_info">
          <div class="product_title">RGBIC Wi-Fi+Bluetooth LED Strip Lights(16.4ft)</div>
          <div class="product_box">
            <div class="product_box_left">
              <div class="prodcut_price">
                <span class="price_now">$28.79</span>
                <span class="price_origin">$35.99</span>
              </div>
              <div class="shop_now" data-url="/products/rgbic-smart-led-strip-lights?variant=38720812449977">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
                <span>Shop Now</span>
              </div>
            </div>
            <div class="product_box_right">
              <div class="product_img">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6143.png?v=1614335923" alt="product1">
              </div>
              <div class="product_sale_bg">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
                <div class="product_sale_info">
                  <span>20</span>
                  <div class="product_sale_info_off">
                    <div>%</div>
                    <div>OFF</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product product_2 mobile">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/03.jpg?v=1614335923" alt="bg_product2">
        <div class="product_info">
          <div class="product_title">Phantasy Outdoor LED Strip Lights(32.8ft)​</div>
          <div class="product_box">
            <div class="product_box_left">
              <div class="prodcut_price">
                <span class="price_now">$50.99</span>
                <span class="price_origin">$59.99</span>
              </div>
              <div class="shop_now" data-url="/products/phantasy-led-strip-lights">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
                <span>Shop Now</span>
              </div>
            </div>
            <div class="prodcut_box_right">
              <div class="product_img">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6170_36b4d110-538b-4627-8ab4-1be0cc79e89b.png?v=1614335936" alt="product1">
              </div>
              <div class="product_sale_bg">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
    
                <div class="product_sale_info">
                  <span>15</span>
                  <div class="product_sale_info_off">
                    <div>%</div>
                    <div>OFF</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product product_3 mobile">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/04.jpg?v=1614335923" alt="bg_product3">
        <div class="product_info">
          <div class="product_title">Immersion Wi-Fi TV Backlights</div>
          <div class="product_box">
            <div class="product_box_left">
              <div class="prodcut_price">
                <span class="price_now">$64.79</span>
                <span class="price_origin">$71.99</span>
              </div>
              <div class="shop_now" data-url="/products/immersion-tv-backlights">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
                <span>Shop Now</span>
              </div>
            </div>
            <div class="product_box_right">
              <div class="product_img">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6199_454f07f7-0588-4838-854e-05f09a211810.png?v=1614335936" alt="product1">
              </div>
              <div class="product_sale_bg">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
                <div class="product_sale_info">
                  <span>10</span>
                  <div class="product_sale_info_off">
                    <div>%</div>
                    <div>OFF</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product product_4 mobile">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/05.jpg?v=1614335923" alt="bg_product4">
        <div class="product_info">
          <div class="product_title">Flow Pro Wi-Fi TV Light Bars​</div>
          <div class="product_box">
            <div class="product_box_left">
              <div class="prodcut_price">
                <span class="price_now">$59.49</span>
                <span class="price_origin">$69.99</span>
              </div>
              <div class="shop_now" data-url="/products/flow-pro-light-bar">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
                <span>Shop Now</span>
              </div>
            </div>
            <div class="product_box_right">
              <div class="product_img">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6054_ebacfe87-0355-47ce-8fdc-4dfd1d21ae4f.png?v=1614335935" alt="product1">
              </div>
              <div class="product_sale_bg">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
                <div class="product_sale_info">
                  <span>15</span>
                  <div class="product_sale_info_off">
                    <div>%</div>
                    <div>OFF</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="crazy_madness_footer mobile">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/06.jpg?v=1614757724" alt="footer_bg">
      <div class="footer_introduce">
        <div>Take advantage of this</div> 
        <div>March Sale with up to <span class="footer_sale_text">20%</span> off </div>  
        <div>high-spec, smart lighting from Govee.</div> 
      </div>

    </div>
  </div>
  <div class="crazy_madness_wrap mobile-hide ipad-show">
    <div class="crazy_madness_banner pc">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/Govee-store-PC.jpg?v=1614939019" alt="Madhouse-of-March-Savings banner">
      <div class="crazy_madness_banner_text">
        <div class="title">Bring on the games, bring on colorized entertainment!</div>
      </div>
    </div>
    <div class="crazy_madness_products pc">
      <div class="product product_1 pc">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/2_1f64d278-5bee-4923-8e56-97fa1579824c.jpg?v=1615367188" alt="bg_product1">
        <div class="product_info left">
          <div class="product_title">RGBIC Wi-Fi+Bluetooth LED Strip Lights(16.4ft)</div>
          <div class="prodcut_price">
            <span class="price_now">$28.79</span>
            <span class="price_origin">$35.99</span>
          </div>
          <div class="shop_now" data-url="/products/rgbic-smart-led-strip-lights?variant=38720812449977">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
            <span>Shop Now</span>
          </div>
          <div class="product_img">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6143_e3533245-ed34-4ac6-ad46-c7808455c4d2.png?v=1614335936" alt="product1">
          </div>
          <div class="product_sale_bg">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
            <div class="product_sale_info">
              <span>20</span>
              <div class="product_sale_info_off">
                <div>%</div>
                <div>OFF</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product product_2 pc">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/03_085070b8-4b80-49ca-9f46-ec1798db888f.jpg?v=1614335936" alt="bg_product2">
        <div class="product_info right">
          <div class="product_title">Phantasy Outdoor LED Strip Lights(32.8ft)​</div>
          <div class="prodcut_price">
            <span class="price_now">$50.99</span>
            <span class="price_origin">$59.99</span>
          </div>
          <div class="shop_now" data-url="/products/phantasy-led-strip-lights">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
            <span>Shop Now</span>
          </div>
          <div class="product_img">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6170_36b4d110-538b-4627-8ab4-1be0cc79e89b.png?v=1614335936" alt="product1">
          </div>
          <div class="product_sale_bg">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">

            <div class="product_sale_info">
              <span>15</span>
              <div class="product_sale_info_off">
                <div>%</div>
                <div>OFF</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product product_3 pc">
        <img class="lazyload" data-src="https://cdn.shopifycdn.net/s/files/1/0512/3489/8105/files/3_81ded069-b011-4bea-8c16-63595a8d6e75.jpg?v=1614757725" alt="bg_product3">
        <div class="product_info right">
          <div class="product_title">Immersion Wi-Fi TV Backlights</div>
          <div class="prodcut_price">
            <span class="price_now">$64.79</span>
            <span class="price_origin">$71.99</span>
          </div>
          <div class="shop_now" data-url="/products/immersion-tv-backlights">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
            <span>Shop Now</span>
          </div>
          <div class="product_img">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6199_454f07f7-0588-4838-854e-05f09a211810.png?v=1614335936" alt="product1">
          </div>
          <div class="product_sale_bg">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
            <div class="product_sale_info">
              <span>10</span>
              <div class="product_sale_info_off">
                <div>%</div>
                <div>OFF</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product product_4 pc">
        <img class="lazyload" data-src="https://cdn.shopifycdn.net/s/files/1/0512/3489/8105/files/4_342139a9-6b19-45e0-9299-f3f08c49bb31.jpg?v=1614757725" alt="bg_product4">
        <div class="product_info left">
          <div class="product_title">Flow Pro Wi-Fi TV Light Bars​</div>
          <div class="prodcut_price">
            <span class="price_now">$59.49</span>
            <span class="price_origin">$69.99</span>
          </div>
          <div class="shop_now" data-url="/products/flow-pro-light-bar">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/3b2f7fc102f833657b65534ed31b0e0a_7df5d1ed-a9ef-4ce5-83dd-df3bb67e64b2.png?v=1614335935" alt="shop_now">
            <span>Shop Now</span>
          </div>
          <div class="product_img">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/6054_ebacfe87-0355-47ce-8fdc-4dfd1d21ae4f.png?v=1614335935" alt="product1">
          </div>
          <div class="product_sale_bg">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0548/6565/8024/files/eb5b7c05bb8205a45fa73875ecaaa45b_3e6b011b-2f47-42c2-834c-ae0d1baced1b.png?v=1614335935" alt="bg_sale">
            <div class="product_sale_info">
              <span>15</span>
              <div class="product_sale_info_off">
                <div>%</div>
                <div>OFF</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="crazy_madness_footer pc">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/06_2d6c2b78-a6a1-4673-8601-8ba1a4bc414c.jpg?v=1614757725" alt="footer_bg">
      <div class="footer_introduce">
        <div>Take advantage of this March Sale</div> 
        <div>with up to <span class="footer_sale_text">20%</span> off high-spec, smart lighting </div>  
        <div>from Govee.</div> 
      </div>

    </div>
  </div>
</div>
<style>
  /* mobile 样式 */
  .crazy_madness_banner.mobile {
    position: relative;
  }
  .crazy_madness_banner_text.mobile {
    font-size: 14px;
    bottom: 20%;
  }
  .crazy_madness_banner_text.mobile .title {
    font-size: 16px;
    font-weight: bold;
  }
  .crazy_madness_banner_text.mobile .discount {
    font-size: 20px;
    font-weight: bold;
  }
  .mobile .product_info {
    position: absolute;
    left: 10%;
    bottom: 0%;
  }
  .mobile .product_info .product_img {
    width: 58%;
    display: inline-block;
  }
  .mobile .product_info .product_sale_bg {
    width: 48%;
    display: inline-block;
    position: relative;
    margin-left: -10%;
  }
  .mobile .product_info .product_title {
    font-size: 18px;
    padding: 0;
    width: 100%;
  }
  .mobile .product_box_left {
    padding-bottom: 5%;
  }
  .mobile .prodcut_price .price_now {
    font-size: 20px;
  }
  .mobile .prodcut_price .price_origin {
    font-size: 12px;
  }
  .mobile .product_info .prodcut_price {
    padding: 0;
  }
  .mobile .product_info .shop_now {
    width: 100%;
    left: -5%;
    font-size: 12px;
  }
  .mobile .product_info .product_sale_info {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 5px;
  }
  .mobile .product_sale_info span {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
  }
  .mobile .product_box {
    display: flex;
    align-items: center;
  }
  .mobile .product_sale_info .product_sale_info_off {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-left: -6px;
  }
  .product_1.mobile .product_info .product_title,
  .product_2.mobile .product_info .product_title {
    position: relative;
    top: 20px;
  }
  .product_3.mobile .product_info {
    bottom: 4%;
  }
  .product_3.mobile .product_info .product_box_left {
    padding-bottom: 14%;
  }
  .product_4.mobile .product_info .product_box_right {
    position: relative;
    top: 24px;
  }
  .product_4.mobile .product_info {
    bottom: 8%;
  }
  .product_4.mobile .product_info .product_box_right {
    position: relative;
    top: 24px;
  }
  .mobile.crazy_madness_footer .footer_introduce {
    font-size: 18px;
    width: 100%;
    padding: 0 40px;
  }
  .mobile.crazy_madness_footer .footer_introduce .footer_sale_text {
    font-size: 26px;
  }
  /* pc端样式 */
  .crazy_madness_banner.pc {
    width: 100%;
    position: relative;
    min-height: 400px;
  }
  .crazy_madness_page img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .crazy_madness_banner_text {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 12%;
    width: 100%;
    font-size: 24px;
  }
  .crazy_madness_banner_text .title {
    font-size: 28px;
    font-weight: bold;
  }
  .crazy_madness_banner_text .shop_now {
    width: 300px;
    margin: 0 auto;
    position: relative;
  }
  .product_info .shop_now {
    width: 40%;
    font-size: 18px;
    left: 2%;
    position: relative;
    margin-bottom: 5%;
  }
  .product_2 .product_info .shop_now {
    margin-bottom: 0;
  }
  .shop_now span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .shop_now span:hover {
    cursor: pointer;
    color: #ffa246;
  }
  .crazy_madness_products {
    position: relative;
  }
  .product {
    position: relative;
    min-height: 330px;
  }
  .product .product_info.left {
    position: absolute;
    left: 8%;
    top: 20%;
    width: 40%;
  }
  .product .product_info.right {
    position: absolute;
    right: 0%;
    top: 20%;
    width: 40%;
  }
  .product_info .prodcut_price {
    padding-left: 4%;
  }
  .prodcut_price .price_now {
    font-weight: bold;
    font-size: 28px;
    color: #ffa246;
  }
  .prodcut_price .price_origin {
    text-decoration: line-through;
    color: #ccc;
    font-size: 18px;
    margin-left: 10px;
  }
  .product_info .product_img {
    width: 40%;
    display: inline-block;
  }
  .product_info .product_sale_bg {
    width: 32%;
    display: inline-block;
    padding-bottom: 3%;
    position: relative;
    left: 6%;
  }
  .product_info .product_title {
    font-weight: bold;
    width: 80%;
    font-size: 32px;
    padding-left: 4%;
    padding-bottom: 2%;
  }
  .product_info .product_sale_info {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 2%;
  }
  .product_sale_info span {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -7px;
  }
  .product_sale_info .product_sale_info_off {
    display: inline-block;
    font-size: 26px;
    line-height: 30px;
  }
  .crazy_madness_footer {
    position: relative;
  }
  .crazy_madness_footer .footer_introduce {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  .footer_introduce .footer_sale_text {
    font-weight: bold;
    font-size: 34px;
    color: #ffa246;
  }

  @media screen and (min-width: 1200px) {
    .crazy_madness_banner_text {
      bottom: 12%;
      font-size: 20px;
    }
    .crazy_madness_banner_text .title {
      font-size: 24px;
    }
    .crazy_madness_banner_text .discount {
      font-size: 30px;
      font-weight: bold;
    }
    .product_info .product_title {
      font-size: 24px;
    }
    .prodcut_price .price_now {
      font-size: 22px;
    }
    .prodcut_price .price_origin {
      text-decoration: line-through;
      color: #ccc;
      font-size: 12px;
      margin-left: 10px;
    }
    .product_info .product_img {
      width: 28%;
    }
    .product_info .product_sale_bg {
      width: 26%;
    }
    .product_sale_info span {
      font-size: 50px;
    } 
    .product_sale_info .product_sale_info_off {
      font-size: 14px;
      line-height: 14px;
    }
    .crazy_madness_footer .footer_introduce {
      font-size: 30px;
    }
    .footer_introduce .footer_sale_text {
      font-weight: bold;
      font-size: 32px;
      color: #ffa246;
    }
  }
  @media screen and (min-width: 1366px) {
    .crazy_madness_banner_text {
      bottom: 12%;
      font-size: 20px;
    }
    .crazy_madness_banner_text .title {
      font-size: 28px;
    }
    .crazy_madness_banner_text .discount {
      font-size: 34px;
      font-weight: bold;
    }
    .product_info .product_title {
      font-size: 26px;
    }
    .prodcut_price .price_now {
      font-size: 24px;
    }
    .prodcut_price .price_origin {
      text-decoration: line-through;
      color: #ccc;
      font-size: 14px;
      margin-left: 10px;
    }
    .product_info .product_img {
      width: 30%;
    }
    .product_info .product_sale_bg {
      width: 28%;
    }
    .product_sale_info span {
      font-size: 60px;
    } 
    .product_sale_info .product_sale_info_off {
      font-size: 16px;
      line-height: 16px;
    }
    .crazy_madness_footer .footer_introduce {
      font-size: 34px;
    }
    .footer_introduce .footer_sale_text {
      font-weight: bold;
      font-size: 40px;
      color: #ffa246;
    }
  }
  @media screen and (min-width: 1600px) {
    .crazy_madness_banner_text {
      bottom: 12%;
      font-size: 28px;
    }
    .crazy_madness_banner_text .title {
      font-size: 32px;
    }
    .crazy_madness_banner_text .discount {
      font-size: 38px;
      font-weight: bold;
    }
    .product_info .product_title {
      font-size: 24px;
    }
    .prodcut_price .price_now {
      font-size: 26px;
    }
    .prodcut_price .price_origin {
      text-decoration: line-through;
      color: #ccc;
      font-size: 16px;
      margin-left: 10px;
    }
    .product_info .product_img {
      width: 32%;
    }
    .product_info .product_sale_bg {
      width: 30%;
    }
    .product_sale_info span {
      font-size: 75px;
    } 
    .product_sale_info .product_sale_info_off {
      font-size: 20px;
      line-height: 20px;
    }

    .crazy_madness_footer .footer_introduce {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      width: 100%;
      text-align: center;
    }
    .footer_introduce .footer_sale_text {
      font-weight: bold;
      font-size: 50px;
      color: #ffa246;
    }
  }
  @media screen and (min-width: 1920px) {
    .crazy_madness_banner_text {
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 12%;
      width: 100%;
      font-size: 26px;
    }
    .crazy_madness_banner_text .title {
      font-size: 36px;
      font-weight: bold;
    }
    .crazy_madness_banner_text .discount {
      font-size: 40px;
      font-weight: bold;
    }
    .crazy_madness_banner_text .shop_now {
      width: 300px;
      margin: 0 auto;
      position: relative;
    }
    .product_info .shop_now {
      width: 40%;
      font-size: 18px;
      left: 2%;
      position: relative;
      margin-bottom: 5%;
    }
    .shop_now span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .shop_now span:hover {
      cursor: pointer;
      color: #ffa246;
    }
    .crazy_madness_products {
      position: relative;
    }
    .product {
      position: relative;
    }
    .product .product_info.left {
      position: absolute;
      left: 8%;
      top: 20%;
      width: 40%;
    }
    .product .product_info.right {
      position: absolute;
      right: 0%;
      top: 20%;
      width: 40%;
    }
    .product_info .prodcut_price {
      padding-left: 4%;
    }
    .prodcut_price .price_now {
      font-weight: bold;
      font-size: 28px;
      color: #ffa246;
    }
    .prodcut_price .price_origin {
      text-decoration: line-through;
      color: #ccc;
      font-size: 18px;
      margin-left: 10px;
    }
    .product_info .product_img {
      width: 40%;
      display: inline-block;
    }
    .product_info .product_sale_bg {
      width: 32%;
      display: inline-block;
      position: relative;
      left: 6%;
    }
    .product_info .product_title {
      font-weight: bold;
      width: 80%;
      font-size: 32px;
      padding-left: 4%;
      padding-bottom: 2%;
    }
    .product_info .product_sale_info {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 1%;
    }
    .product_sale_info span {
      font-size: 90px;
      font-weight: bold;
      letter-spacing: -7px;
    }
    .product_sale_info .product_sale_info_off {
      display: inline-block;
      font-size: 26px;
      line-height: 30px;
    }
    .crazy_madness_footer {
      position: relative;
    }
    .crazy_madness_footer .footer_introduce {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 62px;
      width: 100%;
      text-align: center;
    }
    .footer_introduce .footer_sale_text {
      font-weight: bold;
      font-size: 64px;
      color: #ffa246;
    }
  }
</style>
<script>
    let btn = document.querySelectorAll('.shop_now')
    for (let i=0; i<btn.length; i++) {
      btn[i].onclick = function () {
        let url = btn[i].getAttribute('data-url')
        window.open(url)
      }
    }
</script>