<div class="page_wrap">
  <div class="container">
    <a target="_blank" href="https://www.amazon.com/stores/page/7698E22F-E3A0-4B81-9624-81CEE5517AEE?channel=gow_dotd_210501 ">
      <section class="banner mobile-hide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/GIF3.gif?v=1619060581"
          alt=""
        />
      </section>
      <section class="banner mobile-show">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/banner.gif?v=1619062068"
          alt=""
        />
      </section>
    </a>
    <section class="product-section___rssyQ">
      <!-- H61391A1-ca -->
      <div class="product-item___1OPQb">
        <a
          class="learn_more"
          href="https://www.amazon.ca/dp/B084S62V9N"
          target="_blank"
        >
          <span class=".common-sub___3H9Cp">
            <img
              data-src="https://cdn.shopify.com/s/files/1/0559/0102/8558/files/01-H61391A1-ca.jpg?v=1619072205"
              class="lazyload"
              alt=""
            />
          </span>
          <div class="sku___1o8gX">H61391A1-ca</div>
          <div class="common-sub___3H9Cp">
            <span class="common-price___3M6EW">$27.99</span>
            <span class="common-promotion___Q_fB9">$37.99</span>
          </div>
          <div class="title">RGB LED Strip Lights 32.8ft Bluetooth</div>
          <ul
            class="ant-rate ant-rate-disabled rank-rate___3zCiK"
            tabindex="-1"
            role="radiogroup"
          >
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="1"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="2"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="3"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="4"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-half ant-rate-star-active">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="5"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
          </ul>
          <button class="shop_now">SHOP NOW ＞</button>
        </a>
      </div>
      <!-- H61381A1-ca -->
      <div class="product-item___1OPQb">
        <a
          class="learn_more"
          href="https://www.amazon.ca/dp/B084S683JT"
          target="_blank"
        >
          <span class=".common-sub___3H9Cp">
            <img
              data-src="https://cdn.shopify.com/s/files/1/0559/0102/8558/files/02-H61381A1-ca-1.jpg?v=1619072205"
              class="lazyload"
              alt=""
            />
          </span>

          <div class="sku___1o8gX">H61381A1-ca</div>
          <div class="common-sub___3H9Cp">
            <span class="common-price___3M6EW">$20.79</span>
            <span class="common-promotion___Q_fB9">$25.99</span>
          </div>
          <div class="title">RGB LED Strip Lights 16.4ft Bluetooth</div>
          <ul
            class="ant-rate ant-rate-disabled rank-rate"
            tabindex="-1"
            role="radiogroup"
          >
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="1"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="2"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="3"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="4"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-half ant-rate-star-active">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="5"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
          </ul>
          <button class="shop_now">SHOP NOW ＞</button>
        </a>
      </div>
      <!-- H61911A1-ca -->
      <div class="product-item___1OPQb">
        <a
          class="learn_more"
          href="https://www.amazon.ca/dp/B083BF6N8N"
          target="_blank"
        >
          <span class=".common-sub___3H9Cp">
            <img
              data-src="https://cdn.shopify.com/s/files/1/0559/0102/8558/files/03-H61911A1-ca.jpg?v=1619072205"
              class="lazyload"
              alt=""
            />
          </span>

          <div class="sku___1o8gX">H61911A1-ca</div>
          <div class="common-sub___3H9Cp">
            <span class="common-price___3M6EW">$39.99</span>
            <span class="common-promotion___Q_fB9">$49.99</span>
          </div>
          <div class="title">RGB LED Strip Lights 32.8ft Bluetooth</div>
          <ul
            class="ant-rate ant-rate-disabled rank-rate"
            tabindex="-1"
            role="radiogroup"
          >
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="1"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="2"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="3"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="4"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-half ant-rate-star-active">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="5"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
          </ul>
          <button class="shop_now">SHOP NOW ＞</button>
        </a>
      </div>
      <!-- H61591A1-ca -->
      <div class="product-item___1OPQb">
        <a
          class="learn_more"
          href="https://www.amazon.ca/dp/B07TS7L62W"
          target="_blank"
        >
          <span class=".common-sub___3H9Cp">
            <img
              data-src="https://cdn.shopify.com/s/files/1/0559/0102/8558/files/04-H61591A1-ca.jpg?v=1619072205"
              class="lazyload"
              alt=""
            />
          </span>

          <div class="sku___1o8gX">H61591A1-ca</div>
          <div class="common-sub___3H9Cp">
            <span class="common-price___3M6EW">$23.59</span>
            <span class="common-promotion___Q_fB9">$32.99</span>
          </div>
          <div class="title">RGB LED Strip Lights 16.4ft WiFi </div>
          <ul
            class="ant-rate ant-rate-disabled rank-rate"
            tabindex="-1"
            role="radiogroup"
          >
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="1"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="2"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="3"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="4"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-half ant-rate-star-active">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="5"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
          </ul>
          <button class="shop_now">SHOP NOW ＞</button>
        </a>
      </div>
      <!-- H61101A1-ca -->
      <div class="product-item___1OPQb">
        <a
          class="learn_more"
          href="https://www.amazon.ca/dp/B082DF4GGF"
          target="_blank"
        >
          <span class=".common-sub___3H9Cp">
            <img
              data-src="https://cdn.shopify.com/s/files/1/0559/0102/8558/files/05-H61101A1-ca.jpg?v=1619072205"
              class="lazyload"
              alt=""
            />
          </span>

          <div class="sku___1o8gX">H61101A1-ca</div>
          <div class="common-sub___3H9Cp">
            <span class="common-price___3M6EW">$31.99</span>
            <span class="common-promotion___Q_fB9">$43.99</span>
          </div>
          <div class="title">RGB LED Strip Lights 32.8ft WiFi </div>
          <ul
            class="ant-rate ant-rate-disabled rank-rate"
            tabindex="-1"
            role="radiogroup"
          >
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="1"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="2"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="3"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-full">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="4"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
            <li class="ant-rate-star ant-rate-star-half ant-rate-star-active">
              <div
                role="radio"
                aria-checked="true"
                aria-posinset="5"
                aria-setsize="5"
                tabindex="-1"
              >
                <div class="ant-rate-star-first">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
                <div class="ant-rate-star-second">
                  <span
                    role="img"
                    aria-label="star"
                    class="anticon anticon-star"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="star"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                      ></path></svg
                  ></span>
                </div>
              </div>
            </li>
          </ul>
          <button class="shop_now">SHOP NOW ＞</button>
        </a>
      </div>
    </section>
  </div>
</div>


<style>
  .page_wrap {
    background: #f2f2f2;
  }
  .banner {
    position: relative;
    min-height: 400px;
  }
  .banner img {
    display: block;
  }
  .product-section___rssyQ {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto 0;
    overflow: hidden;
    flex-direction: row;
    align-items: stretch;
  }
  .product-item___1OPQb {
    padding: 20px 30px 30px;
    margin-bottom: 80px;
    position: relative;
    background-color: #fff;
    margin-right: 20px;
    text-align: center;
    color: #343433;
    cursor: pointer;
    transition: 0.6s;
  }
  .product-item___1OPQb:hover {
    box-shadow: 0 10px 40px hsl(0deg 0% 78% / 50%);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .learn_more {
    color: #343433;
    cursor: pointer;
  }
  .learn_more:hover {
    color: #343433;
  }
  .sku___1o8gX {
    color: #272727;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
  }
  .common-sub___3H9Cp {
    margin: 20px 0;
  }
  .common-price___3M6EW {
    font-size: 24px;
    font-weight: 800;
  }
  .common-promotion___Q_fB9 {
    text-decoration: line-through;
    font-size: 18px;
  }
  .product-item___1OPQb .title {
    color: #272727;
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    word-break: break-word;
    margin-top: 11px;
  }
  .shop_now {
    color: #343433;
    width: 162px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #febd69;
    font-weight: bold;
    font-size: 12px;
  }
  .ant-rate {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    display: block;
    margin: 0;
    padding: 0;
    color: #fadb14;
    font-size: 20px;
    line-height: unset;
    list-style: none;
    outline: none;
  }
  .ant-rate-star {
    position: relative;
    display: inline-block;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
  }
  .antrate-star-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
  }
  .ant-rate-star:not(:last-child) {
    margin-right: 8px;
  }

  .ant-rate-star-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
  }
  .ant-rate-star-first,
  .ant-rate-star-second {
    color: #f0f0f0;
    transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ant-rate-star-full .ant-rate-star-second,
  .ant-rate-star-half .ant-rate-star-first {
    color: inherit;
  }
  .product-item___1OPQb .rank-rate___3zCiK .ant-rate-star {
    font-size: 10px;
    margin-right: 1px;
  }
  .ant-rate-star-half .ant-rate-star-first,
  .ant-rate-star-half .ant-rate-star-second {
    opacity: 1;
  }
  .ant-rate-disabled .ant-rate-star {
    cursor: pointer;
  }
  .product-item___1OPQb .rank-rate .ant-rate-star {
    font-size: 10px;
    margin-right: 1px;
  }
  @media screen and (max-width: 768px) {
    .banner {
      min-height: 300px;
    }
    .product-section___rssyQ {
      margin-top: 15px;
    }
    .product-item___1OPQb {
      width: calc(50% - 15px);
      padding: 10px 10px 26px;
      margin-bottom: 15px;
      margin-right: 15px;
    }
    .product-item___1OPQb .sku___1o8gX {
      margin-top: 15px;
    }
    .product-item___1OPQb .picture___2cTGs {
      width: 120px;
      height: 120px;
    }
    .shop_now {
      width: 120px;
      font-size: 12px;
    }
    .common-sub___3H9Cp > span {
      margin: 0;
      display: block;
    }
  }
  @media screen and (min-width: 980px) {

    .product-item___1OPQb {
      width: calc(25% - 20px);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1200px) {

    .product-section___rssyQ {
      width: 100%;
      padding-left: 20px;
      box-sizing: border-box;
    }
    .common-sub___3H9Cp {
      margin: 10px 0;
    }
  }
</style>
