<div class="page_wrap">
  <div class="page-width page-content">
  <div class="rte rte--nomargin">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
      <div class="page_banner mobile-hide ipad-show">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/banner_8be54371-d524-4043-8efc-8e98ed854e63.jpg?v=1615515158" alt="banner-img">
      </div>
      <div class="page_banner mobile-show ipad-hide">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/M.jpg?v=1615519583" alt="banner-img">
      </div>
      <div class="page_content">
        <div class="page_paragraph">
          &nbsp &nbsp At Govee, we seek to transform traditional lifestyles and push the boundaries of what’s possible in smart home devices. Over the years, we have experienced tremendous success in this regard, with a loyal customer base, regular product releases, and a growing market share.
        </div>
        <div class="page_paragraph">
          &nbsp &nbsp We welcome and facilitate anyone who wishes to resell or dropship our products. We do this by supplying high-quality products, express shipping services, and premium support. If you are helping to supply customers with the benefits of Govee products, we are here to help you. 
        </div>
        <div class="page_paragraph">
          &nbsp &nbsp Our customer base and product range are constantly expanding. There is a huge demand for our products. We recognize that if you help to supply our customers, you should be rewarded, supported, and appreciated. We currently supply to the US, CA, EU, and UK markets. Why not get in touch with us at marketing@govee.com and find out what we can achieve together. 
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

<style>
  .page_banner img {
    display: block;
  }
  .page_content {
    padding-top: 40px;
  }
  .page_paragraph {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .page_paragraph:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    .page_content {
      padding: 30px 20px 0 20px;
    }
    .page_paragraph {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
</style>