<section class="free_application_banner" data-animate_images="true">
  <div class="banner">
    <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/05_72bab0da-3038-4cf8-8c46-f8a4f6ff75fe.jpg?v=1627367438" alt="" class="mobile-hide lazyload">
    <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/banner_9d6cc642-635a-4bcf-9b17-071bd0bd8fa5.jpg?v=1627463325" alt="" class="mobile-show lazyload">
    <div class="banner_text_wrap">
      <div class="banner_text page_text lazyload" data-animate_text="true">
        Free Products Application
      </div>
      <div class="banner_text_bar"></div>
      <div class="banner_sub_text" >
        <span class="prefix">UP TO</span>
        <span class="percent">16%</span>
        <span class="suffix">commission</span>
      </div>
      <a class="banner_link" href="/pages/affiliate" target="_blank">Join Govee.com Affiliate Program Now!</a>
      <button class="banner_apply Anchor slideTo" data-target="#free-application-form">Apply Now</button>
    </div>
  </div>
</section>

<style>

  @media screen and (min-width: 769px) {
    .free_application_banner .banner {
      position: relative;
    }
    .free_application_banner .banner_text_wrap {
      position: absolute;
      left: 15vw;
      top: 50%;
      transform: translateY(-50%);
      width: 30vw;


      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .free_application_banner .banner_text {
      color: #fff;
      font-size: 3.8vw;
      line-height: 4vw;
      font-weight: bold;
      text-align: left;
      margin-bottom: 1vw;
    }
    .free_application_banner .banner_text_bar {
      height: 2px;
      background-color: #fff;
      width: 2vw;
      margin-bottom: 2vw;
    }
    .free_application_banner .banner_sub_text {
      font-size: 1.2vw;
      letter-spacing: normal;
    }
    .banner_sub_text .prefix {
      white-space: normal;
      display: inline-block;
      width: 1.2vw;
      line-height: 1.2vw;
      font-size: .9vw;
    }
    .banner_sub_text .percent {
      font-weight: bold;
      font-size: 2.8vw;
      line-height: 3vw;
    }
    .banner_sub_text .suffix {
      font-size: 2vw;
    }
    .free_application_banner .banner_link {
      text-decoration: underline;
      margin-bottom: 2vw;
    }
    .free_application_banner .banner_apply {
      padding: .4vw 2.5vw;
      text-align: center;
      background-color: #fff;
      color: #00ACE7;
      border-radius: 1.5vw;
    }
    .free_application_banner .banner_apply:hover {
      background-color: #00ACE7;
      color: #fff;
    }
  }
  @media screen and (max-width: 768px) {
    .free_application_banner .banner {
      position: relative;
    }
    .free_application_banner .banner_text_wrap {
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
      width: 100%;

      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .free_application_banner .banner_text {
      color: #fff;
      font-size: 30px;
      line-height: 38px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
    .free_application_banner .banner_text_bar {
      height: 2px;
      background-color: #fff;
      width: 30px;
      margin-bottom: 10px;
    }
    .free_application_banner .banner_sub_text {
      font-size: 14px;
      letter-spacing: normal;
      font-weight: bold;
    }
    .banner_sub_text .prefix {
      white-space: normal;
      display: inline-block;
      width: 12px;
      line-height: 14px;
      font-size: 12px;
    }
    .banner_sub_text .percent {
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
    }
    .banner_sub_text .suffix {
      font-size: 24px;
    }
    .free_application_banner .banner_link {
      text-decoration: underline;
      margin-bottom: 10px;
      font-size: 12px;
    }
    .free_application_banner .banner_apply {
      padding: 4px 24px;
      text-align: center;
      background-color: #fff;
      color: #00ACE7;
      border-radius: 20px;
      font-size: 14px;
    }
    .free_application_banner .banner_apply:hover {
      background-color: #00ACE7;
      color: #fff;
    }
  }

</style>