<!-- {% assign title = section.settings.title %} -->

<div class="questions_and_answers" data-animate_images="true">
  <div class="title page_text">
    <!-- {{title}} -->
    Terms & Conditions
  </div>
  <!-- {% for block in section.blocks %}
    {% if block.type == 'content' %}
    {% assign poster = block.settings.poster %}
    {% assign title = block.settings.title %}

    {% endif %}
    {% endfor %} -->

  <div class="body">
    <div class="list">
      <div class="sub_title">
        What will you get to join Govee.com Affiliate Program?
      </div>
      <div class="content">
        <div class="content_list">
          1、Commission For Different Products,<span
            >Up to 16% commission.</span
          >
        </div>
        <div class="content_list">
          2、For New Publishers: ① $5 bonus for your first sale; ②$50 bonus if
          you bring 20 sales.
        </div>
        <div class="content_list">
          3、Get free Products To Review If You Have A Great Channel/Website.
        </div>
        <div class="content_list">
          4、Newest Banners and Coupons on Platform. You can get the newest
          information of Affiliate program promotion.
        </div>
        <div class="content_list">5、Exclusive code for your fans.</div>
      </div>
    </div>
    <div class="list">
      <div class="sub_title">How to join Govee Affiliate Program?</div>
      <div class="content">
        <div class="content_list">
          Click the link below to sign up:
          <a
            href="http://app.impact.com/campaign-campaign-info-v2/GOVEE-(Commission-Up-to-10).brand"
            style="color: #00ace7"
            target="_blank"
            >http://app.impact.com/campaign-campaign-info-v2/GOVEE-(Commission-Up-to-10).brand</a
          >
          <div class="disp"></div>
          (If you don’t want to join our affiliate program and don’t want to get
          any commission from us, please contact affiliate manager:
          <div class="disp"></div>
          <a href="mailto:Affiliate@govee.com" style="color: #00ace7"
            >Affiliate@govee.com</a
          >
          to get the tracking link.)
        </div>
      </div>
    </div>
    <div class="list">
      <div class="sub_title">Requirement Of Free Products Review</div>
      <div class="content">
        <div class="content_list">1、Followers at least 3K on your channel</div>
        <div class="content_list">
          2、Average views of your video/post more than 1K
        </div>
        <div class="content_list">
          3、Your channel about Tech, lights, game or related to our products
        </div>
      </div>
    </div>
    <div class="list">
      <div class="sub_title">
        Terms to cooperate with Govee.com Affiliate Program
      </div>
      <div class="content">
        <div class="content_list">
          1、Govee.com Affiliate program only work for Govee.com, no business
          with Govee Amazon store and Amazon affiliate.
        </div>
        <div class="content_list">
          2、If you work with Govee.com, don’t add other store link not related
          to Govee.com store.
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @media screen and (min-width: 768px) {
    .questions_and_answers {
      padding-top: 2.8vw;
      padding-bottom: 10vw;
      background-color: #f7f7f7;
    }

    .questions_and_answers .title {
      font-size: 2.7vw;
      color: #000;
      text-align: center;
      padding: 2vw 0;
    }

    .questions_and_answers .body {
      max-width: 1200px;
      margin: 0 auto;
      background-color: #fff;
      padding: 3.4vw 4vw 4vw 3vw;
      box-sizing: border-box;
    }

    .questions_and_answers .body .list {
      margin-bottom: 1.5vw;
    }

    .questions_and_answers .body .list .sub_title {
      color: #323c47;
      font-size: 1.1vw;
      margin-bottom: 1vw;
    }

    .questions_and_answers .body .list .content {
      color: #7a7a7a;
      font-size: 0.8vw;
    }
  }

  @media screen and (max-width: 768px) {
    .questions_and_answers {
      padding: 10px;
      background-color: #f7f7f7;
    }

    .questions_and_answers .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: #000;
      padding: 30px 0 10px 0;
    }

    .questions_and_answers .body {
      margin: 0 auto;
      background-color: #fff;
      padding: 10px 10px 10px 10px;
      box-sizing: border-box;
    }

    .questions_and_answers .body .list {
      margin-bottom: 20px;
    }

    .questions_and_answers .body .list .sub_title {
      color: #323c47;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .disp {
      display: inline;
    }

    .questions_and_answers .body .list .content {
      color: #7a7a7a;
      font-size: 12px;
    }
  }
</style>
