
<section class="{{ section.id }} page-width" data-animate_image="true">
  <div class="winner_list_wrap">
    <!-- winner list 后补 -->

  </div>


  <div class="student_discount_wrap">
    <div class="student_discount_title bold">Student-Exclusive Discount</div>
    <div class="student_discount_sub_title">Save 18% on our sweet deals</div>
    <a href="/student-discount" class="student_discount_button product_shop_now">View More ></a>
  </div>

</section>




{% schema %}
{
  "name": "halloween-winner-list",
  "class": "halloween-winner-list",
  "settings": [

  ],
  "blocks": [

  ]
}
{% endschema %}