<section class="{{ section.id }} page-width {% if section.blocks.size < 1%} hide {% endif %}" data-animate_image="true">

  {% if section.settings.show_block_title %}
  <div class="sub_header_text page_text">{{ section.settings.title }}</div>
  {% else %}
  <div class="sub_header_img">
    <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/CarLights.png?v=1632815589" alt="" class="mobile-hide lazyload">
    <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/Car_Lights.png?v=1632905205" alt="" class="mobile-show lazyload">
  </div>
  {% endif %}

  {% render 'halloween-product-template' %}

  <div class="view_more_products product_shop_now">View More Products ></div>
</section>






{% schema %}
{
  "name": "halloween-car-lights",
  "class": "halloween-car-lights",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_block_title",
      "label": "显示内容标题文字",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Block Title"
    }
  ],
  "blocks": [
    {
      "type": "main_product",
      "name": "Main Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "自定义图"
        },
        {
          "type": "text",
          "id": "discount_percent",
          "label": "折扣百分比"
        },
        {
          "type": "text",
          "id": "compare_price",
          "label": "flash sale product compare price"
        }
      ]
    },
    {
      "type": "foot_product",
      "name": "Foot Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "自定义图"
        },
        {
          "type": "text",
          "id": "discount_percent",
          "label": "折扣百分比"
        },
        {
          "type": "text",
          "id": "compare_price",
          "label": "flash sale product compare price"
        }
      ]
    }
  ]
}
{% endschema %}