<div class="valentine_page">
  <!-- 移动端 -->
  <div class="page-wrap mobile-show ipad-hide">
    <div class="page-banner mobile">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/banner.jpg?v=1611801965"
      />
    </div>

    <div class="product_slogan">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/2_0f075a90-b3b9-4870-a481-e4cdb5ba52a0.jpg?v=1611799085"
      />
    </div>
    <div
      class="slider hero"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div class="banner banner1">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/13_dba4abb2-3477-43a4-aba9-f157ba75bba5.jpg?v=1611801964"
        />
      </div>
      <div class="banner banner1 slick-slide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/14.jpg?v=1611801966"
        />
      </div>
    </div>
    <div
      class="product shop_now"
      data-url="/products/rgbic-smart-led-strip-lights?variant=38720812482745"
    >
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/12.jpg?v=1611807237"
        alt=""
      />
    </div>
    <div
      class="product shop_now"
      data-url="/collections/all-products/products/phantasy-led-strip-lights"
    >
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/13.jpg?v=1611807238"
        alt=""
      />
    </div>

    <div class="product_slogan">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/7_40638d80-428a-4ab2-b072-ee913f8c4e28.jpg?v=1611799086"
        alt=""
      />
    </div>
    <div
      class="slider hero"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div class="banner banner1">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/8_f529a414-6803-4d25-9ad2-2f9b816617eb.jpg?v=1611801965"
        />
      </div>
      <div class="banner banner1 slick-slide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/9_6ac58b48-02ca-43d2-9aa7-d46ba0731aad.jpg?v=1611801964"
        />
      </div>
    </div>
    <div
      class="product shop_now"
      data-url="/products/aura-table-lamp"
    >
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/8.0_bbf838e5-2d01-4ccb-8ef8-cf178c330148.jpg?v=1611807237"
        alt=""
      />
    </div>
    <div
      class="product shop_now"
      data-url="/products/govee-glow"
    >
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/9.0_aebf75e6-1f7b-4efd-983c-42a40fb08410.jpg?v=1611807237"
        alt=""
      />
    </div>

    <div class="product_slogan">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/11_a87e38a6-45b4-4e3e-9c9c-e8ecfc4e0546.jpg?v=1611799086"
        alt=""
      />
    </div>
    <div
      class="slider hero"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div class="banner banner1">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/4_9d947ec0-9813-48c5-9def-f81be8a8cca7.jpg?v=1611801965"
        />
      </div>
      <div class="banner banner1 slick-slide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/3_90e866ea-6260-4587-9ab2-1ef763436ab5.jpg?v=1611801964"
        />
      </div>
    </div>
    <div
      class="product shop_now"
      data-url="/products/flow-pro-light-bar"
    >
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/6054_m.jpg?v=1612405541"
        alt=""
      />
    </div>
    <div
      class="product shop_now"
      data-url="/products/immersion-tv-backlights"
    >
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/6199_m.jpg?v=1612405541"
        alt=""
      />
    </div>

    <div class="product_bottom">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/20c44feb726c4786420c3bfc7bb4f2dd.jpg?v=1611747687"
        alt=""
      />
    </div>
  </div>
  <!-- pc端 -->
  <div class="page-wrap mobile-hide ipad-show">
    <div class="page-banner">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/1.0_2048x2048.jpg?v=1611715485"
        src=""
      />
    </div>
    <!-- 轮播图-1 -->
    <div
      class="slider hero"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div class="banner banner2">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/10.0_2048x2048.jpg?v=1611713362"
          src=""
        />
        <div class="banner_text wrap">
          <div class="banner_text title">Spark Your Passion in Style</div>
          <div class="banner_text content">
            Enjoy intimate, vibrant memories this Valentine's Day from
            high-quality, color-changing lights.
          </div>
        </div>
      </div>
      <div class="banner banner2 slick-slide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/11.0_2048x2048.jpg?v=1611713376"
          src=""
        />
        <div class="banner_text wrap">
          <div class="banner_text title">Spark Your Passion in Style</div>
          <div class="banner_text content">
            Enjoy intimate, vibrant memories this Valentine's Day from
            high-quality, color-changing lights.
          </div>
        </div>
      </div>
    </div>
    <div class="flex lazyload">
      <div class="pic_wrap left">
        <img
          class="lazyload product_pic"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/12.0_d9e5c2b8-9f8c-489c-b1c0-0e199171c6d9.jpg?v=1611830470"
          src=""
          alt=""
        />
        <div class="pic_text">
          Who needs roses once a year when you can enjoy dramatic, inspiring
          surroundings every day.
        </div>
        <div class="pic_discount">
          <div class="discount_wrap">
            <span class="discount_big_text">20% </span
            ><span class="discount_small_text">OFF</span>
          </div>
          <button
            class="shop_now"
            data-url="/products/rgbic-smart-led-strip-lights?variant=38720812482745"
          >
            SHOP NOW
          </button>
        </div>
      </div>
      <div class="pic_wrap right">
        <img
          class="lazyload product_pic"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/13.0_31707bd6-94e7-4d12-96e3-469388f7d78e.jpg?v=1611830470"
          src=""
          alt=""
        />
        <div class="pic_text">
          Create your unique habitat together. Display your love and creativity.
        </div>
        <div class="pic_discount">
          <div class="discount_wrap">
            <span class="discount_big_text">20% </span
            ><span class="discount_small_text">OFF</span>
          </div>
          <button
            class="shop_now"
            data-url="/collections/all-products/products/phantasy-led-strip-lights"
          >
            SHOP NOW
          </button>
        </div>
      </div>
    </div>
    <div
      class="slider hero"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div class="banner banner1">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/6.0_2048x2048.jpg?v=1611713276"
          src=""
        />
        <div class="banner_text wrap">
          <div class="banner_text title">Illuminate the Love</div>
          <div class="banner_text content">
            Why not jazz up your candlelit dinners with our smart table lamps,
            filling your home and hearts with warm, vibrant lighting.
          </div>
        </div>
      </div>

      <div class="banner banner2 slick-slide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/7.0_2048x2048.jpg?v=161171329"
          src=""
        />
        <div class="banner_text wrap">
          <div class="banner_text title">Illuminate the Love</div>
          <div class="banner_text content">
            Why not jazz up your candlelit dinners with our smart table lamps,
            filling your home and hearts with warm, vibrant lighting.
          </div>
        </div>
      </div>
    </div>
    <div class="flex lazyload">
      <div class="pic_wrap left">
        <img
          class="lazyload product_pic"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/8.0_51aab59a-b5cc-433a-9ed5-e0f767c8671f.jpg?v=1611830469"
          src=""
          alt=""
        />
        <div class="pic_text">
          Experience true romance with our incredible Aura smart lamp, packed
          with charming light effects.
        </div>
        <div class="pic_discount">
          <div class="discount_wrap">
            <span class="discount_big_text">30%</span
            ><span class="discount_small_text">OFF</span>
          </div>
          <button
            class="shop_now"
            data-url="/products/aura-table-lamp"
          >
            SHOP NOW
          </button>
        </div>
      </div>
      <div class="pic_wrap right">
        <img
          class="lazyload product_pic"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/9.0_7bd68d91-0766-4d99-81ee-7d914c7fa02e.jpg?v=1611830469"
          src=""
          alt=""
        />
        <div class="pic_text">
          Elevate your romantic moments with this warm, ambient lamp for you and
          yours.
        </div>
        <div class="pic_discount">
          <div class="discount_wrap">
            <span class="discount_big_text">10%</span
            ><span class="discount_small_text">OFF</span>
          </div>
          <button
            class="shop_now"
            data-url="/products/govee-glow"
          >
            SHOP NOW
          </button>
        </div>
      </div>
    </div>
    <div
      class="slider hero"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div class="banner banner1 slick-slide">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/3.0_2048x2048.jpg?v=1611713237"
          scr=""
        />
        <div class="banner_text wrap">
          <div class="banner_text title">Renew Your Romance</div>
          <div class="banner_text content">
            Longing to rekindle your love? Sweeten your home movie nights this
            Valentine's Day with our immersive and colorful TV lights.
          </div>
        </div>
      </div>
      <div class="banner banner1 lazyload">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/2.0_2048x2048.jpg?v=1611713217"
          src=""
        />
        <div class="banner_text wrap">
          <div class="banner_text title">Renew Your Romance</div>
          <div class="banner_text content">
            Longing to rekindle your love? Sweeten your home movie nights this
            Valentine's Day with our immersive and colorful TV lights.
          </div>
        </div>
      </div>
    </div>
    <div class="flex lazyload">
      <div class="pic_wrap left">
        <img
          class="lazyload product_pic"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/6054_pc.jpg?v=1612405541"
          src=""
          alt=""
        />
        <div class="pic_text">
          With these TV lights, Netflix binge-watching will be a lot more
          lovey-dovey this Valentine's Day.
        </div>
        <div class="pic_discount">
          <div class="discount_wrap">
            <span class="discount_big_text">20%</span
            ><span class="discount_small_text">OFF</span>
          </div>
          <button
            class="shop_now"
            data-url="/products/flow-pro-light-bar"
          >
            SHOP NOW
          </button>
        </div>
      </div>
      <div class="pic_wrap right">
        <img
          class="lazyload product_pic"
          data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/6199_pc.jpg?v=1612405541"
          src=""
          alt=""
        />
        <div class="pic_text">
          Cuddle up on the couch and immerse in your favorite romantic movies
          with these amazing TV lights.
        </div>
        <div class="pic_discount">
          <div class="discount_wrap">
            <span class="discount_big_text">10%</span
            ><span class="discount_small_text">OFF</span>
          </div>
          <button
            class="shop_now"
            data-url="/products/immersion-tv-backlights"
          >
            SHOP NOW
          </button>
        </div>
      </div>
    </div>
    <div class="product_bottom">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0512/3489/8105/files/PC.jpg?v=1611747687"
        alt=""
        src=""
      />
    </div>
  </div>
</div>
<style>
  .valentine_page img {
    display: block;
    width: 100%;
  }
  .page-banner.mobile {
    height: 604px;
  }
  .page-banner.pc {
    height: 1152px;
    width: 100%;
  }
  .mobile-hide .slider {
    height: 588px;
    width: 100%;
  }
  .page-banner img {
    width: 100%;
  }
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flex > .pic_wrap {
    flex: 1;
  }
  .pic_wrap {
    position: relative;
  }
  .pic_wrap .shop_now {
    position: absolute;
    width: 240px;
    height: 44px;
  }
  .pic_wrap.left .shop_now {
    left: 30px;
    bottom: 34px;
  }
  .pic_wrap.right .shop_now {
    right: 30px;
    bottom: 34px;
  }
  .pic_wrap.left .pic_text {
    position: absolute;
    left: 35px;
    top: 120px;
    font-size: 14px;
    max-width: 280px;
    color: #5f3626;
  }
  .pic_wrap.right .pic_text {
    position: absolute;
    right: 35px;
    top: 120px;
    font-size: 14px;
    max-width: 280px;
    color: #5f3626;
    text-align: right;
  }
  .hero .slick-arrow .icon {
    color: #fff;
  }
  .banner {
    position: relative;
  }
  .banner1 .banner_text.wrap {
    position: absolute;
    left: 60px;
    bottom: 60px;
  }
  .banner2 .banner_text.wrap {
    position: absolute;
    left: 60px;
    top: 60px;
  }
  .banner .banner_text.title {
    font-size: 32px;
    font-weight: bold;
  }
  .banner .banner_text.content {
    font-size: 15px;
    max-width: 580px;
  }

  .pic_wrap .pic_discount {
    position: absolute;
    bottom: 60px;
    font-weight: bold;
  }
  .pic_wrap.right .pic_discount {
    right: 32px;
  }
  .pic_wrap.left .pic_discount {
    left: 32px;
  }
  .pic_discount .discount_wrap {
    color: #f52f55;
    line-height: 40px;
  }
  .pic_discount .discount_big_text {
    font-size: 110px;
    display: inline-block;
  }
  .pic_discount .discount_small_text {
    color: #713433;
    font-size: 28px;
    margin-left: 2px;
    display: inline-block;
  }
  .pic_wrap .pic_discount .shop_now {
    border-radius: 20px;
    padding: 6px 50px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    background: #f52f55;
    line-height: 28px;
    position: relative;
    left: 12px;
    bottom: 0;
    width: auto;
    height: auto;
  }
  .pic_wrap .pic_discount .shop_now:hover {
    background: #fff;
    color: #f52f55;
  }
  @media screen and (max-width: 768px) {
    .pic_wrap .shop_now {
      padding: 2px 8px;
    }
    .pic_wrap .shop_now.btn.btn--inverse:hover {
      background-position: 91% 50%;
    }
  }
  @media screen and (max-width: 1400px) {
    .pic_wrap.left .pic_text {
      top: 90px;
      left: 30px;
    }
    .pic_wrap.right .pic_text {
      top: 90px;
      right: 30px;
    }

    .pic_wrap .pic_discount {
      bottom: 20px;
    }
    .pic_discount .discount_big_text {
      font-size: 60px;
    }
    .pic_discount .discount_small_text {
      font-size: 18px;
    }
    .pic_wrap .pic_discount .shop_now {
      left: 0;
    }
  }
  /* ipadpro 的宽度 */
  @media screen and (max-width: 1024px) {
    .pic_wrap.left .pic_text {
      top: 70px;
      left: 20px;
      font-size: 12px;
    }
    .pic_wrap.right .pic_text {
      top: 70px;
      right: 20px;
      font-size: 12px;
    }
  }
</style>
<script>
  window.onload = function () {
    $(".slider").slick({
      infinite: true,
      autoplay: true,
      lazyLOad: "progressive",
      fade: true,
      speed: 500,
      autoplaySpeed: 1500,
    });

    $(".shop_now").click(function () {
      let url = $(this).attr("data-url");
      // window.location.href = url;
      window.open(url);
    });
  };
</script>