
<div>
  {%- render 'breadcrumbs' -%}
  <!-- {%- section 'slick-test' -%} -->

  {%- section 'govee-our-recommended' -%}
  {%- section 'govee-hot-categories' -%}
  {%- section 'govee-they-are-saying' -%}
  {%- section 'govee-more-deals' -%}
</div>


