<div class="rgbic-main-container">
  <div class="custom-page-container">
    <div class="rgbic-header">
      <div class="rgbic-header-content">
        <h1>What is RGBIC?</h1>
        <p>RGBIC, the latest light displaying technology of Govee, features advanced IC (Independent Control) chip which makes multiple colors showing on one strip light simultaneously. See vivid colors constantly chasing or flowing like a rainbow. Say goodbye to boring RGB solid-colored lighting.</p>
     <!-- 	
        <a href="https://store.govee.com/collections/rgbic-led-lights" class="btn btn--inverse" tabindex="-1">
                                All Products
                              </a>
         <a href="#" class="btn btn--inverse" tabindex="-1">
                                Watch Video
                              </a> -->
        
      </div>
    </div>
    
    <div class="rgbic-body">
      <div class="rgbic-body-content">
        <div class="r-item">
          <h3>Smart IC Chip</h3>
          <p>Independently control the LED module and display multi colors on a line.</p>
<!--            <p>
             <a href="#">Learn More</a>
           </p> -->
          <div class="icon">
          	
          </div>
        </div>
         <div class="r-item">
          <h3>Segmented Control</h3>
          <p>Customize the color for every segment.</p>
<!--             <p>
             <a href="#">Learn More</a>
           </p> -->
          <div class="icon">
          	
          </div>
        </div>
         <div class="r-item">
          <h3>Enhanced Music Mode</h3>
          <p>Ultra sensitive mic syncs to any type of music easily.</p>
           
          <div class="icon">
          	
          </div>
        </div>
         <div class="r-item">
          <h3>Cool Lighting Effects</h3>
          <p>Creative modes take complete control of the atmosphere.</p>
<!--            <p>
             <a href="#">Learn More</a>
           </p> -->
          <div class="icon">
          	
          </div>
        </div>
      </div>
    
    </div>
    <div class="s-img">
      
      <img style="max-width:100%" src="https://d1f2504ijhdyjw.cloudfront.net/os-img/85577bbde25ad6c39181a0bae035c075-PC_RGBIC.jpg">
   
    </div>
    
    
    <div class="rgbic-compare">
      <h1>RGBIC VS RGB
</h1>
    	<table class="compare">
  <tr>
    <th></th>
    <th>RGBIC</th>
    <th>RGB</th>
  </tr>
  <tr>
    <td class="c-name">IC Chip</td>
    <td>Built-in IC.</td>
    <td>No IC chip.</td>
  </tr>
  <tr>
    <td class="c-name">Lighting Color</td>
    <td>Multiple colors on a line.</td>
    <td>Single color on a line.</td>
  </tr>
  <tr>
    <td class="c-name">LED Beads</td>
    <td>Ultra bright.</td>
    <td>Bright</td>
  </tr>
  <tr>
    <td class="c-name">Segmented Control</td>
    <td>DIY color for every segment.</td>
    <td>Only able to control the whole strip.</td>
  </tr>
  <tr>
    <td class="c-name">Music Mode</td>
    <td>High sensitive for diverse music types.</td>
    <td>Sensitive for strong-beating music.</td>
  </tr>
  <tr>
    <td class="c-name">Lighting Effect</td>
    <td>More animated lighting effects.</td>
    <td>Basic lighting effects.</td>
  </tr>
</table>
    </div>
    
    
    
  </div>
</div>