{% section 'H5177' %}
{% section 'product-recommendations' %}
{% section 'product-collection-links' %}
<div class="review-wrapper">
  <div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" data-limit="0"></div>
  </div>